<app>
    <name>供应商管理</name>
    <description>供应商管理</description>

    <author>
        <name>leho开发团队</name>
        <email>pansen@leho.com</email>
        <url>http://ocs.leho.com</url>
    </author>

    <version>1.0.0</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>

	<depends>
		<app>desktop</app>
	    <app>ectools</app>
	    <app>b2c</app>
	</depends>
</app>