#footer {
  background: #2e3254; }
  #footer dt {
    color: #7b6bda;
    line-height: 52px; }
  #footer dd {
    line-height: 32px; }
  #footer .links {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    border-bottom: 1px solid #757bab;
    font-size: 14px; }
    #footer .links .links-read {
      width: 212px; }
    #footer .links .links-about {
      width: 227px; }
    #footer .links .links-prevate {
      width: 602px; }
    #footer .links .share {
      position: absolute;
      right: 0;
      top: 60px; }
  #footer .share span {
    width: 42px;
    height: 42px;
    display: inline-block;
    margin-right: 18px; }
  #footer .share .wx {
    background: url('../../img/share-wx.png') center no-repeat; }
  #footer .share .wb {
    background: url('../../img/share-wb.png') center no-repeat; }
  #footer .share .qq {
    background: url('../../img/share-qq.png') center no-repeat; }
  #footer .bottom {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #5d628c;
    height: 80px;
    line-height: 80px; }
