.navbar .navbar-wrapper {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  position: relative; }
.navbar .logo-wrapper {
  position: absolute;
  width: 88px;
  height: 26px;
  top: 20px; }
.navbar .toolbar {
  position: absolute;
  right: 0;
  height: 70px;
  width: 275px;
  font-size: 16px; }
  .navbar .toolbar .company {
    position: absolute;
    width: 125px; }
    .navbar .toolbar .company .logo {
      position: absolute;
      background: url('../../img/sina-small.png') center no-repeat;
      width: 45px;
      height: 45px;
      display: inline-block;
      top: 12px; }
    .navbar .toolbar .company .name {
      position: absolute;
      left: 55px;
      line-height: 70px; }
    .navbar .toolbar .company .dropdown {
      background: url('../../img/dropdown.png') center no-repeat;
      width: 11px;
      height: 4px;
      position: absolute;
      left: 110px;
      top: 34px; }
  .navbar .toolbar .shopping-cart {
    position: absolute;
    width: 150px;
    right: 0;
    line-height: 70px; }
    .navbar .toolbar .shopping-cart .logo {
      background: url('../../img/shopping-cart.png') center no-repeat;
      width: 29px;
      height: 24px;
      position: absolute;
      top: 22px;
      left: 10px; }
    .navbar .toolbar .shopping-cart .name {
      position: absolute;
      left: 50px; }
    .navbar .toolbar .shopping-cart .count {
      position: absolute;
      left: 98px; }
