
<form id="searchkeywordForm" action="index.php?app=b2c&ctl=admin_searchkeyword&act=save"  method="POST" >
<input type="hidden" name="id" id="result_id" value="<{$result.id}>">
<div class="tableform">
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <th><{t}>关键词：<{/t}></th>
  <td><input type="text" name="keyword" style="width:220px" vtype="required" value="<{$result.keyword}>" placeholder="关键字1-20" maxlength="20"><em><font color='red'>*</font></em></td>
</tr>

<tr>
  <th><{t}>关联前台展示类目：<{/t}></th>
  <td> 
	  <{if $result.id > 0}>
		 <table width="100%" border="1" cellpadding="0" cellspacing="0">
			<tr>
				<td width="10%">原始关联：</td>
				<td>
					<{if $result.id > 0}>
						<{$result.cat_name}>
					<{else}>
						-
					<{/if}>
				</td>
			</tr>
		  </table>
	  <{/if}>
	  <input type="hidden" name="cat_name" id="input_cat_name"/>
	  <div class="division">
		  <table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td id="cat_tag"></td>
			</tr>
		  </table>
	  </div>
	  <div class="goods_category_body" style="width: 836px;">
		    <ul  class="cat_select">
				<{foreach from=$mall_define item=row}>
					<li class="mall_define" mall_id="<{$row.id}>" ><{$row.name}><span class="icon"></span></li>
				<{/foreach}>
			</ul>
			<ul  class="cat_select" id="cat_1_list_data" style="display:none;">
			</ul>
			<ul class="cat_select" id="cat_2_list_data" style="display:none;">
		    </ul>
			<ul class="cat_select" id="cat_3_list_data" style="display:none;">
		    </ul>
	  </div>
	  
  </td>
</tr>

<tr>
  <th><{t}>关联品牌：<{/t}></th>
  <td>
	  <{if $result.id > 0}>
		 <table width="100%" border="1" cellpadding="0" cellspacing="0">
			<tr>
				<td width="10%">原始关联：</td>
				<td>
					<{if $result.id > 0}>
						<{$result.brand_name}>
					<{else}>
						-
					<{/if}>
				</td>
			</tr>
		  </table>
	  <{/if}>
	  <input type="hidden" name="brand_name" id="input_brand_name"/>
	  <div class="division">
		  <table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td id="brand_tag"></td>
			</tr>
		  </table>
	  </div>
	  <div id="brand_list">
		 <div class="goods_category_body" style="width: 836px;">
			<ul  class="cat_select">
				<{foreach from=$type item=row}>
					<li class="brand_type" type_id="<{$row.type_id}>"><{$row.name}><span class="icon"></span></li>
				<{/foreach}>
			</ul>
			<input type="text" id="brand_keyword" style="width:190px"  placeholder="输入品牌" value=""/>
			<ul class="cat_select" id="brand_list_data" style="display:none;">
		    </ul>
		 </div>
	  </div>
  </td>
</tr>
<tr>
  <th></th>
  <td><span id="error_tip" class="error caution notice-inline" style="display: none"></span></td>
</tr>
</table>
</div>
</div>

<div class="table-action">
	<button type="button" onclick="window.close();" class="btn btn-secondary" closedialog="1"><span><span>取消</span></span></button>
	<{button type="submit" id="btn_submit" label=$___b2c="保存"|t:'b2c'}>
</div>

</form>
<script>
var brands = new Array();
var cats = new Array();
var el_btn_submit = $('btn_submit');
var index_keywords = {};
var el_brand_list_data = $('brand_list_data');
var el_brand_keyword = $('brand_keyword');
var getBrandList = new Request.JSON({//建立Request对象
	url:'index.php?app=b2c&ctl=admin_searchkeyword&act=brand',//要请求的地址
	method:'get',//get请求
	onSuccess:function(res){//结束后重设内容
		if(res.status == 0){
			index_keywords = res.data.index_keywords;
			var list = res.data.list;
			var html = '';
			list.each(function(item,index){
				html += '<li class="brand_son" id="brand_name_'+item.brand_name+'">'+item.brand_name+'</li>';
			});
			if(html == ''){
				html = '<li>无品牌条目</li>';
			}
			el_brand_list_data.innerHTML = html;
			live_bind_event();
		}
	}
});

el_btn_submit.addEvent('click',function(){
	$('error_tip').set('text','').hide();
	$('input_brand_name').set('value',brands.join());
	$('input_cat_name').set('value',cats.join());
	
	var id = $('result_id').get('value') ? $('result_id').get('value') : 0;
	if(id == 0){
		var input_brand_name = $('input_brand_name').get('value');
		var input_cat_name = $('input_cat_name').get('value');
		if(input_brand_name == '' || input_cat_name == ''){
			$('error_tip').set('text','关联前台展示类目和关联品牌必须选择').show();
			return false;
		}
	}
	return true;
});

el_brand_keyword.addEvent('keyup',function(){
	var brand_keyword = this.get('value');
	if(brand_keyword != ''){
		el_brand_type.removeClass('cur');
		getBrandList.send('type_id=' + cur_brand_type_id + '&brand_keyword=' + brand_keyword);
	}
	
//	index_keywords.forEach(function(item,index){
//		if(item == brand_keyword){
//			$$('.brand_son').removeClass('cur');
//			$('brand_name_'+brand_keyword).addClass('cur');
//		}
//	});
		
});

function live_bind_event(){
	var el_brand_son = $$('.brand_son');
	el_brand_list_data.show();
	el_brand_son.addEvent('click',function(){
		el_brand_son.removeClass('cur');
		this.addClass('cur');
		var html_span = new Element('span');
		$(html_span).setProperties({
			class: 'remove_span',
			style:  'border:solid 1px;padding:2px;margin:0 2px 5px 0;cursor:pointer'
		}).appendText(this.get('text'));
		
		if(brands.indexOf(this.get('text')) == -1){
			$('brand_tag').adopt(html_span);
			brands.push(this.get('text'));
		}
		//console.log(brands);
		live_bind_span();
	});
	
}

function live_bind_span(){
	var el_remove_span = $$('.remove_span');
	el_remove_span.addEvent('click',function(){
		var brand_name = this.get('text');
		//alert(brand_name);
		brands.pop(brand_name);
		this.remove();
		//console.log(brands);
	});
}

var el_brand_type = $$('.brand_type');
var cur_brand_type_id = 0;
el_brand_type.addEvent('click',function(){
	el_brand_list_data.innerHTML = '' ;
	el_brand_type.removeClass('cur');
	this.addClass('cur');
	cur_brand_type_id = this.get('type_id');
	getBrandList.send('type_id=' + cur_brand_type_id);
	//alert(this.get('type_id'));
});

//绑定分类
var el_mall_define = $$('.mall_define');
el_mall_define.addEvent('click',function(){
	el_mall_define.removeClass('cur');
	this.addClass('cur');
	getCatList.send('pid=0&mall_id=' + this.get('mall_id') +'&step=1');
	//alert(this.get('type_id'));
});

var el_cat_1_list_data = $('cat_1_list_data');
var el_cat_2_list_data = $('cat_2_list_data');
var el_cat_3_list_data = $('cat_3_list_data');
function live_cat_1_bind_event(){
	var el_cat_1_son = $$('.cat_1_son');
	el_cat_3_list_data.hide();
	el_cat_2_list_data.hide();
	el_cat_1_list_data.show();
	
	el_cat_1_son.addEvent('click',function(){
		el_cat_1_son.removeClass('cur');
		this.addClass('cur');
		getCatList.send('pid=' + this.get('pid')+'&mall_id=' + this.get('mall_id') + '&step=2');
	});
}
function live_cat_2_bind_event(){
	var el_cat_2_son = $$('.cat_2_son');
	el_cat_3_list_data.hide();
	el_cat_2_list_data.show();
	el_cat_2_son.addEvent('click',function(){
		el_cat_2_son.removeClass('cur');
		this.addClass('cur');
		getCatList.send('pid=' + this.get('pid')+'&mall_id=' + this.get('mall_id') + '&step=3');
	});
	
}

function live_cat_3_bind_event(){
	var el_cat_3_son = $$('.cat_3_son');
	el_cat_3_list_data.show();
	el_cat_3_son.addEvent('click',function(){
		el_cat_3_son.removeClass('cur');
		this.addClass('cur');
		var html_span = new Element('span');
		$(html_span).setProperties({
			class: 'remove_cat_span',
			style:  'border:solid 1px;padding:2px;margin:0 2px 5px 0;cursor:pointer'
		}).appendText(this.get('text'));
		
		if(cats.indexOf(this.get('text')) == -1){
			$('cat_tag').adopt(html_span);
			cats.push(this.get('text'));
		}
		//console.log(brands);
		live_cat3_bind_span();
	});
	
}

function live_cat3_bind_span(){
	var el_remove_cat_span = $$('.remove_cat_span');
	el_remove_cat_span.addEvent('click',function(){
		var cat_name = this.get('text');
		cats.pop(cat_name);
		this.remove();
		//console.log(cats);
	});
}

var getCatList = new Request.JSON({//建立Request对象
	url:'index.php?app=b2c&ctl=admin_searchkeyword&act=cat',//要请求的地址
	method:'get',//get请求
	onSuccess:function(res){//结束后重设内容
		if(res.status == 0){
		    var step = res.data.step;
			if(step == 1){
				var list = res.data.list;
				var html = '';
				list.each(function(item,index){
					html += '<li class="cat_1_son" pid="'+item.cat_id+'" mall_id="'+item.mall_id+'" id="cat_1_name_'+item.cat_name+'">'+item.cat_name+'</li>';
				});
				el_cat_1_list_data.innerHTML = html;
				el_cat_2_list_data.hide();
				el_cat_3_list_data.hide();
				live_cat_1_bind_event();
			}else if(step == 2){
				var list = res.data.list;
				var html = '';
				list.each(function(item,index){
					html += '<li class="cat_2_son" pid="'+item.cat_id+'" mall_id="'+item.mall_id+'" id="cat_2_name_'+item.cat_name+'">'+item.cat_name+'</li>';
				});
				el_cat_2_list_data.innerHTML = html;
				el_cat_3_list_data.hide();
				live_cat_2_bind_event();
			}else{
				var list = res.data.list;
				var html = '';
				list.each(function(item,index){
					html += '<li class="cat_3_son" pid="'+item.cat_id+'" mall_id="'+item.mall_id+'"  id="cat_3_name_'+item.cat_name+'">'+item.cat_name+'</li>';
				});
				el_cat_3_list_data.innerHTML = html;
				live_cat_3_bind_event();
			}
			
		}
	}
});

$('searchkeywordForm').store('target',{
	onComplete:function(){
		if(opener.finderGroup['<{$env.get._finder.finder_id}>'])
		opener.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
		window.close();
	}
});
</script>
