<div class="tabs-wrap">
  <ul>
    <li class="tab current"><span><{t}>TOP300热搜词导出<{/t}></span></li>
  </ul>
</div>

<div>
	
  <form method="post" action="index.php?app=b2c&ctl=admin_searchkeyword&act=export">
    <div class="tableform">
      <div class="division">
		  <td nowrap="nowrap">
        <label>时间范围:</label>
		<{input type="date" value="date" name="time_from" value="{$result['time_from']}" id="time_from"}>&nbsp;-&nbsp;
		<{input type="date" value="date" name="time_to" value="{$result['time_to']}" id="time_to"}>
		<p style="margin:20px 0"><{t}>已设置搜索词：<{/t}>
          <input id="switch-off" name="enable" value="0" type="radio" <{if !$enable }> checked <{/if}>><label for="switch-off" style="margin-left:10px;"><{t}>包含<{/t}></label>
          <input <{if $enable }> checked <{/if}> style="margin-left:20px;" id="switch-on" name="enable" value="1" type="radio"><label for="switch-on" style="margin-left:10px;"><{t}>不包含<{/t}></label>
		</p>
		<p>
			<{button type="button" id="btn_submit"  label=$___b2c="导出热搜词"|t:'site'}>
		</p>
    </div>
  </form>
</div>
<script>
var req = new Request.JSON({//建立Request对象
	url:'index.php?app=b2c&ctl=admin_searchkeyword&act=export',//要请求的地址
	method:'post',//get请求
	onSuccess:function(res){//结束后重设内容
		if(res.status == 0){
		   alert(res.message);
		}
	}
});
var el_btn_submit = $('btn_submit');
el_btn_submit.addEvent('click',function(){
		var time_from = $('time_from').get('value');
		var time_to = $('time_to').get('value');
		var temp = document.getElementsByName("enable");
		var enable = 0;
		for(i=0;i<temp.length;i++){
			if(temp[i].checked){
				enable = temp[i].value;
			}   
		}
		req.send('enable=' + enable+'&time_from='+time_from+'&time_to='+time_to);
	});
</script>
