<div id="for-login-success" class="am-text-danger am-margin">
    <i class="failed-img"></i>
            <h3><{$msg}></h3>
            <{if $error_info}>
            <ol>
                <{foreach from=$error_info item=item}>
                <li>
                [<{$item[0]}>]<{$item[1]}>
                <{if $env.const.debug_code}>
                (<{$item[2]}>:<{$item[3]}>)
                <{/if}>
                </li>
                <{/foreach}>
            </ol>
            <{/if}>
</div>
<{if $wait>0}>
<div id="for-login-info" class="am-padding">
            <p class="am-align-center"><{$wait}>秒后系统会自动跳转</p>
            <a class="am-btn am-btn-danger am-btn-block am-btn-success" onclick="javascript:clearTimeout(SiteSplash);" href="<{if $jumpto=='back'}>javascript:history.back()<{else}><{$jumpto}><{/if}>">
                点击直接跳转
            </a>
</div>
<script>
    (function(){
        window.onload=function(){
            var footer = document.getElementsByTagName('footer')[0],
                    a_hg = document.getElementById('for-login-success').clientHeight,
                    b_hg = document.getElementById('for-login-info').clientHeight,
                    header_hg = document.getElementsByTagName('header')[0].clientHeight,
                    footer_hg = footer.clientHeight,
                    body_hg = document.body.clientHeight;
            if(body_hg>a_hg+b_hg+header_hg+footer_hg){
                footer.className = 'fixed';
            }
        }

    })()
</script>
<script>
function jumpurl(){
  <{if $jumpto=='back'}>history.back()<{elseif $jumpto=='close'}>window.close();<{else}>location='<{$jumpto}>'<{/if}>;
}
var SiteSplash = setTimeout('jumpurl()',<{$wait*1000}>);
</script>
<{else}>
<div class="am-margin">
<button style="width: 100%" class="am-btn am-btn-block am-btn-default" onclick="history.go(-1);">返回</button>
</div>
<{/if}>

