<{if $data}>
<ul >
	<{foreach from=$data item=item name=eventslist}>
	<li <{if $env.foreach.eventslist.iteration is odd}> class="odd"<{/if}>>
		<div class="event_img">
			<a href="<{link app=shangou ctl=site_event arg0=$item.evt_id}>"><image src="<{$item.evt_logo|storager}>" title="<{$item.evt_name}>" alt="<{$item.evt_name}>"></a>
		</div>
		<div class="desc">
			<a href="<{link app=shangou ctl=site_event arg0=$item.evt_id}>" title="<{$item.evt_name}>" alt="<{$item.evt_name}>"><{$item.evt_name}></a>
		</div>
	</li>
	 <{/foreach}>
</ul>
   
<{else}>

<{/if}>
