<app>
    <name>异步队列任务</name>
    <description>异步队列任务</description>

    <author>
        <name>neigou开发团队</name>
        <email>licong@neiogu.com</email>
        <url>http://www.neigou.com</url>
    </author>

    <version>0.1</version>
    <license>Mit license</license>

	<depends>
		<app>base</app>
	</depends>

</app>
