<{if $event.leho_type == 'false'}>
<div  class="leho-mini-titlebar" style="z-index:1;line-height: 45px;height: 45px;margin-top: 45px;">
         <h2><{$event.evt_name}>
         	<{if $event.intro!='' && $event.intro!='&nbsp;'}>
         	<i class="am-icon-ellipsis-h am-fr" data-am-modal="{target: '#popup_event_intro'}">&nbsp;&nbsp;</i>
         	<{/if}>
         </h2>

</div>
<div class="leho-event-intro" style=" margin-top: 65px;">
	  <div class="event-img" <{if $event.intro!='' && $event.intro!='&nbsp;'}>data-am-modal="{target: '#popup_event_intro'}"<{/if}>>
	       <img src="<{$event.evt_logo|storager}>">
	  </div>
	  <div class="lefttime"><i class="am-icon-clock-o am-icon-spin"></i>&nbsp;<{$lefttime}></div>
</div>
<{if $event.intro!='' && $event.intro!='&nbsp;'}>
<div class="am-popup" id="popup_event_intro">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">活动详细介绍</h4>
      <span data-am-modal-close
            class="am-close">&times;</span>
    </div>
    <div class="am-popup-bd">
      <{$event.intro|strip_tags}>
    </div>
  </div>
</div>
<{/if}>
<{/if}>
<div class="leho-event-body">
  <{include file='wap/detail/type/grid.html'}>
</div>
<script>
<!-- 微信分享 -->
var imgUrl = "<{$event.evt_logo|storager}>";
var lineLink = window.location.href;
var descContent = '绝对正品保证、限时特卖受邀入场、最低价承诺差价返还。';
var shareTitle = '<{$event.evt_name}>';
var appid = '';

function shareFriend() {
    WeixinJSBridge.invoke('sendAppMessage',{
        "appid": appid,
        "img_url": imgUrl,
        "img_width": "200",
        "img_height": "200",
        "link": lineLink,
        "desc": descContent,
        "title": shareTitle
    }, function(res) {
        //_report('send_msg', res.err_msg);
    })
}
function shareTimeline() {
    WeixinJSBridge.invoke('shareTimeline',{
        "img_url": imgUrl,
        "img_width": "200",
        "img_height": "200",
        "link": lineLink,
        "desc": descContent,
        "title": shareTitle
    }, function(res) {
        //_report('timeline', res.err_msg);
    });
}
function shareWeibo() {
    WeixinJSBridge.invoke('shareWeibo',{
        "content": descContent,
        "url": lineLink,
    }, function(res) {
        //_report('weibo', res.err_msg);
    });
}
// 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    // 发送给好友
    WeixinJSBridge.on('menu:share:appmessage', function(argv){
        shareFriend();
    });
    // 分享到朋友圈
    WeixinJSBridge.on('menu:share:timeline', function(argv){
        shareTimeline();
    });
    // 分享到微博
    WeixinJSBridge.on('menu:share:weibo', function(argv){
        shareWeibo();
    });
}, false);

$('.leho-event-body img.lazy').lazyload({
		load:function(){}
	});
</script>
