.message-list {
    li {
        background: #fff;
        position: relative;
        padding: 0 7px;
        margin: 16px;
        list-style-type: none;

        .hd {
            height: 35px;
            line-height: 35px;
            .title {
                font-size: 13px;
            }
            .state {
                font-size: 14px;
                color: #ff2f60;
            }
        }

        .content {
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding: 6px 0;

            .good {
                color: #959595;
                font-size: 12px;
                margin-top: 14px;
                img {
                    width: 91px;
                    height: 91px;
                }

                .desc {
                    margin: 5px 28px 0 100px;
                    line-height: 19px;
                }

                .price-wrapper {
                    margin: 40px 0 0 100px;
                }
            }
            .first {
                margin-top: 0;
            }            
        }

        .foot {
            padding: 7px 0;
            .pay-btn {
                background: #000;
                font-size: 12px;
                line-height: 26px;
                width: 83px;
                height: 30px;
            }

            .preview-btn {
                background: #fff;
                color: #000;
                font-size: 12px;
                line-height: 26px;
                width: 83px;
                height: 30px;        
                border: 1px solid #b5b5b5;        
            }

            .info {
                line-height: 32px;
            }
        }
    }
}
