// Outer wrapper
.tabnav {
  margin-top: 0;
  margin-bottom: 15px;
  .tabnav-contents {
    display: none;
  }
  .tabnav-contents.selected {
    display: block;
  }  
}

.tabnav-tabs {

  margin-top: 30px;
  margin-bottom: 40px;
}

.tabnav-tab {
  margin: 0;
  display: inline-block;
  padding: 8px 21px;
  font-size: 14px;
  line-height: 20px;
  width: 74px;
  height: 40px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ebeff5;
  border-left: none;
  
  &.first {
    border-left: 1px solid #ebeff5;
  }
  
  &.selected {
    color: #b1a5ff;
    background-color: #fff;
    border-color: #ebeff5;
    border-top: 2px solid #b1a5ff;
    border-bottom: 0px solid #fff;
  }

  &:hover { text-decoration: none; }
}


// Tabnav buttons
//
// For when there are multiple buttons, space them out appropriately. Requires
// the buttons to be floated or inline-block.

