.navbar {
    
    .navbar-wrapper {
        width: 1200px;
        height: 70px;
        margin: 0 auto;     
        position: relative;   
    }
    .logo-wrapper {
        position: absolute;
        width: 88px;
        height: 26px;
        top: 20px;
    }
    .toolbar {
        position: absolute;
        right: 0;
        height: 70px;
        width: 275px;
        font-size: 16px;
        .company {
            position: absolute;
            width: 125px;
            
            .logo {
                position: absolute;
                background: url('../../img/sina-small.png') center no-repeat;
                width: 45px;
                height: 45px;
                display: inline-block;
                top: 12px;
            }

            .name {
                position: absolute;
                left: 55px;
                line-height: 70px;
            }

            .dropdown {
                background: url('../../img/dropdown.png') center no-repeat;
                width: 11px;
                height: 4px;
                position: absolute;
                left: 110px;
                top: 34px;
            }
        }

        .shopping-cart {
            position: absolute;
            width: 150px;
            right: 0;
            line-height: 70px;

            .logo {
                background: url('../../img/shopping-cart.png') center no-repeat;
                width: 29px;
                height: 24px;
                position: absolute;
                top: 22px;
                left: 10px;
            }

            .name {
                position: absolute;
                left: 50px;
            }

            .count {
                position: absolute;
                left: 98px;
            }
        }
    }
}
