body {
  font-size: 14px; }

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

#doc-hd {
  border-bottom: 1px solid #E7E7E7; }
  #doc-hd .navbar .toolbar {
    width: 125px; }

#doc-bd {
  margin-bottom: 60px; }

#breadcrumbs {
  height: 30px;
  line-height: 30px;
  margin: 20px 0; }
  #breadcrumbs a, #breadcrumbs span {
    color: #AAAAB2; }
  #breadcrumbs a:hover {
    color: #6F53FF; }
  #breadcrumbs a.current {
    color: #7B8185; }
  #breadcrumbs span {
    margin: 0 5px; }

#preview {
  float: left;
  margin-bottom: 30px;
  position: relative; }
  #preview .zhuanxiang {
    position: absolute;
    top: 0;
    z-index: 3;
    left: 150px;
    width: 90px; }
    #preview .zhuanxiang p {
      margin: 0;
      background-color: #907BFF;
      color: #FFF;
      font-size: 16px;
      text-align: center;
      height: 51px;
      line-height: 25px;
      padding: 15px 0; }
    #preview .zhuanxiang div {
      height: 0;
      width: 0;
      border-width: 14px 45px;
      border-style: solid;
      border-color: #907BFF transparent transparent transparent; }
  #preview .switchable {
    position: relative;
    width: 560px;
    height: 430px; }
    #preview .switchable ul {
      list-style-type: none; }
    #preview .switchable .content {
      width: 430px;
      height: 430px;
      position: relative;
      overflow: hidden;
      float: right;
      border: 1px solid #E9E9E9; }
      #preview .switchable .content li {
        width: 430px; }
        #preview .switchable .content li img {
          display: block;
          width: 428px;
          height: 428px;
          outline: none; }
    #preview .switchable .trigger {
      float: left;
      width: 100px;
      height: 430px;
      overflow: hidden;
      margin: 0; }
      #preview .switchable .trigger a {
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid #E9E9E9;
        margin-bottom: 10px; }
        #preview .switchable .trigger a.active {
          width: 100px;
          height: 100px;
          border: 2px solid #989898; }
        #preview .switchable .trigger a img {
          width: 100%;
          height: 100%;
          display: block; }

#meta {
  float: right;
  width: 600px; }
  #meta h1 {
    font-size: 22px;
    color: #333;
    margin: 0 0 20px; }
  #meta .price {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px; }
    #meta .price .main {
      font-size: 36px;
      color: #6F53FF; }
      #meta .price .main strong {
        font-size: 54px;
        font-weight: normal; }
    #meta .price .mart, #meta .price .discount {
      margin-left: 40px;
      color: #7B8185; }
    #meta .price em {
      font-style: normal;
      color: #33D2D6; }
  #meta .prop {
    margin: 20px 0; }
    #meta .prop .row {
      margin: 20px 0; }
      #meta .prop .row h4 {
        clear: both;
        width: 60px;
        margin: 0;
        height: 44px;
        font-size: 14px;
        line-height: 44px;
        float: left;
        font-weight: normal; }
      #meta .prop .row div {
        float: left;
        height: 44px; }
    #meta .prop a {
      display: inline-block;
      height: 44px;
      width: 44px;
      border: 1px solid #E9E9E9;
      padding: 1px;
      margin-right: 15px;
      color: #7B8185;
      line-height: 42px;
      background: url(about:blank) 1px 1px no-repeat; }
      #meta .prop a.active {
        border: 2px solid #907BFF;
        padding: 0;
        background-position: 0 0; }
      #meta .prop a.img-text {
        width: auto;
        padding-left: 42px;
        padding-right: 11px; }
      #meta .prop a.active.img-text {
        padding-left: 41px;
        padding-right: 10px; }
      #meta .prop a.text {
        width: auto;
        padding: 0 15px; }
      #meta .prop a.active.text {
        padding: 0 14px; }
    #meta .prop .count span {
      height: 44px;
      width: 44px;
      display: inline-block;
      background: url(../img/plus.png) no-repeat;
      border: 1px solid #E9E9E9; }
      #meta .prop .count span.plus {
        background-position: -44px 0; }
      #meta .prop .count span.enabled {
        background-position: 0 -44px; }
      #meta .prop .count span.enabled.plus {
        background-position: -44px -44px; }
      #meta .prop .count span.enabled:hover {
        background-position: 0 -88px;
        border-color: #907BFF; }
      #meta .prop .count span.enabled.plus:hover {
        background-position: -44px -88px; }
    #meta .prop .count input {
      display: inline-block;
      width: 60px;
      height: 44px;
      border-width: 1px 0;
      border-radius: 0;
      vertical-align: top;
      border-color: #E9E9E9;
      text-align: center; }
  #meta .submit button {
    height: 54px;
    width: 280px;
    border-radius: 27px;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    border: none;
    background-color: #6F53FF;
    color: #FFF; }
    #meta .submit button:hover {
      background-color: #5B36E6; }
  #meta .info {
    margin: 0;
    line-height: 24px;
    height: 24px;
    color: #6F53FF; }

#contrast {
  clear: both;
  border: 1px solid #EBEFF5;
  height: 86px; }
  #contrast h2 {
    width: 130px;
    float: left;
    font-size: 20px;
    height: 84px;
    line-height: 30px;
    font-weight: normal;
    color: #282A3C;
    text-align: center;
    background-color: #F9FAFD;
    margin: 0;
    padding: 27px 0;
    border-right: 1px solid #EBEFF5; }
  #contrast ul {
    float: left;
    list-style-type: none;
    height: 30px;
    margin: 27px 0; }
    #contrast ul li {
      float: left;
      margin-right: 90px;
      padding-left: 150px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      color: #7B8185;
      background: url(../img/bijia.png) no-repeat; }
      #contrast ul li.suning {
        background-position: 0 -30px; }
      #contrast ul li.sf {
        background-position: 0 -60px;
        margin-right: 0; }

#detail {
  margin-top: 20px;
  float: left;
  width: 860px; }
  #detail .hd {
    border-bottom: 1px solid #E9E9E9;
    padding: 20px 0; }
    #detail .hd h2 {
      font-size: 22px;
      color: #333;
      border-left: 2px solid #765CFF;
      height: 22px;
      line-height: 22px;
      padding-left: 10px;
      font-weight: normal;
      margin: 0; }
  #detail .bd {
    margin-top: 30px; }
    #detail .bd table, #detail .bd tr, #detail .bd td, #detail .bd th {
      border: 1px solid #E9E9E9;
      font-size: 14px;
      font-weight: normal;
      text-align: center; }
    #detail .bd table {
      width: 100%;
      margin-bottom: 60px; }
    #detail .bd tr {
      height: 40px; }
    #detail .bd th {
      color: #7B8185; }
    #detail .bd td {
      color: #282A3C; }
    #detail .bd img {
      max-width: 100%; }

#side {
  width: 300px;
  float: right;
  margin-top: 20px; }
  #side .hd {
    border-bottom: 1px solid #E9E9E9;
    padding: 20px 0; }
    #side .hd h2 {
      font-size: 22px;
      color: #333;
      border-left: 2px solid #765CFF;
      height: 22px;
      line-height: 22px;
      padding-left: 10px;
      font-weight: normal;
      margin: 0; }
  #side .figure {
    list-style-type: none; }
    #side .figure li {
      margin-top: 30px; }
      #side .figure li .pic {
        float: left;
        width: 100px;
        height: 100px;
        border: 1px solid #E9E9E9; }
        #side .figure li .pic a, #side .figure li .pic img {
          display: block;
          height: 100%;
          width: 100%; }
      #side .figure li .cont {
        float: left;
        margin-left: 15px;
        width: 180px;
        height: 100px; }
        #side .figure li .cont h4 {
          margin: 10px 0;
          line-height: 22px;
          height: 44px;
          font-weight: normal;
          font-size: 15px; }
          #side .figure li .cont h4 a {
            color: #333; }
        #side .figure li .cont p {
          height: 30px;
          margin: 16px 0 0 0; }
        #side .figure li .cont strong {
          font-size: 24px;
          color: #6F53FF;
          font-weight: normal; }
        #side .figure li .cont del {
          float: right;
          line-height: 40px;
          color: #AAAAB2; }
      #side .figure li:hover .pic {
        border-color: #989898; }
      #side .figure li:hover h4 a {
        color: #5B36E6; }

/*# sourceMappingURL=pc-detail.css.map */
