<{capture name="header"}>
  <link href="../apps/ome/statics/ome.css" rel="stylesheet" type="text/css">
<{/capture}>
<div class="tableform">
<div class="division">
<form method="post" action="index.php?app=shangou&ctl=admin_events&act=saveEvent" id="terminal">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" >
        <tbody>
        <tr>
        <th ><em class="c-red">*</em> 活动名称：</th>
          <td>
          <{input type="text&&required" size="60" name="event[evt_name]" value=$event.evt_name}>
          </td>
        </tr>
        <tr>
        <th ><em class="c-red">*</em> 前端显示状态：</th>
          <td>
          <{input type="radio" name="event[evt_type]" separator="&nbsp;&nbsp;&nbsp;"  required='1' value=$event.evt_type|default:'noshow'  options=$evt_type_list }>
          </td>
        </tr>
        
        <tr>
        <th ><em class="c-red">*</em> 活动类型：</th>
          <td>
          <{input type="radio" name="event[act_type]" separator="&nbsp;&nbsp;&nbsp;"  required='1' value=$event.act_type|default:'normal'  options=$act_type_list }><span class="notice-inline">企业专场活动在活动列表中不会显示</span>
          </td>
        </tr>
        <tr>
          <th><em class="c-red">*</em><{t}>PC端模板：<{/t}></th>
          <td>
          <{template_filter type="events_detail" selected=$event.enevt_template name="event[enevt_template]"}></td>
        </tr>
        <tr>
          <th><em class="c-red">*</em><{t}>WAP端模板：<{/t}></th>
          <td>
          <{waptemplate_filter type="events_detail" selected=$event.wap_enevt_template name="event[wap_enevt_template]"}></td>
        </tr>
        
       <tr>
        <th ><em class="c-red">*</em> 排序：</th>
          <td>
           <{input type="text&&required" size="5" name="event[p_order]" value=$event.p_order|default:50}><span class="notice-inline">数字越小越靠前</span>
          </td>
        </tr>
         <tr>
        <th ><em class="c-red">*</em> 原产地直供频道：</th>
          <td>
          <{input type="radio" name="event[leho_type]" separator="&nbsp;&nbsp;&nbsp;"  required='1' value=$event.leho_type|default:'false'  options=$leho_type_list  onclick="lehotype(this)"}>
          </td>
        </tr>
        <tr>
          <th><em class="red">*</em><{t}>开始时间：<{/t}></th>
          <td>
              <{input type="time" name="s_time" value=$event.s_time vtype="required"}>
          </td>
         </tr>
         <tr id="leho_type_tr1" <{if $event.leho_type=='true' }> style="display:none;" <{/if}>>
           <th><em class="red">*</em><{t}>结束时间：<{/t}></th>
           <td>
              <{input type="time" name="e_time" value=$event.e_time vtype="required" }>
           </td>
        </tr>
        <tr>
        <th><{t}>活动频道：<{/t}></th>
        <td>
          <{input type="eventcat" value="{$event.cat_id}" name="event[cat_id]"}>
        </td>
      </tr>
         <tr>
        <th ><em class="c-red">*</em> 首页推荐：</th>
          <td>
          <{input type="radio" name="event[index_show]" separator="&nbsp;&nbsp;&nbsp;"  required='1' value=$event.index_show|default:'true'  options=$index_show_list }>
          </td>
        </tr>
        <tr>
          <th><em class="c-red">*</em><{t}>使用群组：<{/t}></th>
          <td>
             <{foreach from=$member_level item=ml name=name}>
                <lable><input type="checkbox" vtype="required" value="<{$ml.member_lv_id}>" name="member_lv_ids[]" <{if $smarty.foreach.name.first}>vtype="requiredcheckbox"<{/if}> <{if ($event.member_lv_ids != '') && in_array($ml.member_lv_id,$event.member_lv_ids)}>checked<{/if}>/><{$ml.name}></label>
             <{/foreach}>
          </td>
        </tr>
        <tr>
		    <th><em class="c-red">*</em><{t}>活动头图：<{/t}></th>
		    <td><{input type="image" name="event[evt_logo]"  value=$event.evt_logo}> 尺寸：等待补充</td>
	    </tr>
	    <tr>
		<th><{t}>选择商品：<{/t}></th>
		<td>
		<p class="clearfix">
		<span class="fl"><{button label="从商品列表添加商品" id="btn_add_item" type="button" name="Submit"}></span>
		</p>
		</td>
    </tr>
    <tr>
    <th>活动商品</th>
    <td style="width:100%">
		<table border="0" cellspacing="0" class="gridlist" cellpadding="0" style="width:100%" >
			<thead>
				<tr>
					<th>商品编码</th>
					<th>商品名称</th>
					<th style="width:80px;">品牌</th>
					<th style="width:80px;">售价</th>
					<th style="width:30px;">排序</th>
					<th style="width:30px;">删除</th>
				</tr>
			</thead>
			<tbody id="productList">
			<{foreach from=$goodslist item=v}>
				<tr>
				<td><input type="hidden" class="activeProductsId" name="goods_id[<{$v.goods_id}>]" value="<{$v.goods_id}>"><{$v.bn}></td>
				<td><{$v.name}></td>
				<td><{$v.brand_name}></td>
				<td><{$v.price}></td>
				<td><input type="text"  name="order[<{$v.goods_id}>]"  value="<{$v.order}>" style="width:25px;"></td>
				<td><{img src="bundle/delecate.gif" class="pointer del" onclick="delGoodsList(this);" app="desktop"}></td>
				</tr>
			<{/foreach}>
			</tbody>
		</table>
    </td>
    </tr>
    <tr>
    <th><em class="red">*</em><{t}>活动描述：<{/t}></th>
     <td >
	  <{input type="html" name="event[intro]" value=$event.intro height="60px"}>
	  </td>
     </tr>
        </tbody>
      </table>
<{if  $event.evt_id}>
 <input type="hidden" name="event[evt_id]" value="<{$event.evt_id}>">
<{/if}>
<div class="table-action">
<{button class="btn-primary" type="submit" id="saveterminal" name="submit" label="提交"}>
</div>
</form>
  </div>
    </div>


<script>
$('terminal').store('target',{
    onRequest:function(){
       $('saveterminal').set('disabled', 'true');
    },
    onComplete:function(jsontext){
       var json = Json.evaluate(jsontext);
       if (typeof(json.error) != 'undefined'){
           $('saveterminal').set('disabled', '');
       }else{
           $('saveterminal').set('disabled', 'true');
           parent.finderGroup['<{$env.get.finder_id}>'].refresh.delay(400,parent.finderGroup['<{$env.get.finder_id}>']);
           $('saveterminal').getParent('.dialog').retrieve('instance').close();
       }
    }
    });

//弹出货品选择页面
$('btn_add_item').addEvent('click', function(e) {
  var url = 'index.php?app=desktop&act=alertpages&goto=' + encodeURIComponent('index.php?app=shangou&ctl=admin_events&act=public_find_goods_list');
  var callurl = 'index.php?app=shangou&ctl=admin_events&act=public_find_goods_detail_json',
  store = [];
  Ex_Loader('modedialog',function(){
    new finderDialog(url, {
        params: {
            url: callurl,
            name: 'goods_id[]',
            app:'b2c',
        },
        width: 900,
        height: 600,
        onCallback: function(data) {
            jsondata = eval("("+data+")");
            writeProductList(jsondata);
        }
    });
  });
});

//写入页面货品数据
function writeProductList(data){
  var length = data.length;
  var is;
  for(var i=0;i<length;i++){
      _writeProductList(data[i]);
  }
}
function _writeProductList(data){
	var activeProductsId = $$('.activeProductsId');
	for(var i=0 ; i<activeProductsId.length ; i++){
		if(data.goods_id == activeProductsId[i].get('value')){
			alert('该商品已选择过');
			return false;
		}
	}
	var info = '<td><input type="hidden" class="activeProductsId" name="goods_id['+data.goods_id+']"  value="'+data.goods_id+'">'+data.bn+'</td>';
	info += '<td>'+data.name+'</td>';
	info += '<td>'+data.brand_name+'</td>';
	info += '<td>'+data.price+'</td>';
	info += '<td><input type="text"  name="order['+data.goods_id+']"  value="50" style="width:25px;"></td>';
	info +='<td><{img src="bundle/delecate.gif" class="pointer del" app="desktop"}></td>';
	

	new Element("tr",{html:info}).inject('productList').getElement('.del').addEvent('click',function(){
		delGoodsList(this);
  });
}

//删除单行货品数据
function delGoodsList(obj){
  if (confirm('确定删除吗?')){
      obj.getParent("tr").destroy();
  }
}

function lehotype(input){
    if(input.value == 'true'){
        $('leho_type_tr1').style.display = "none";
    }else{
    	$('leho_type_tr1').style.display = "";
    }
}
</script>
