$mainTextColor: #282A3C;
$subTextColor: #7B8185;
$aideTextColor: #AAAAB2;
$linkTextColor: #907BFF;
$mainColor: #6F53FF;
$aideColor: #33D2D6;
$mainHoverColor: #5B36E6;
$aideHoverColor: #1CC4CA;

body {
    font-size: 14px;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#doc-hd {
    border-bottom: 1px solid #E7E7E7;
    .navbar .toolbar {
        width: 125px;
    }
}

#doc-bd {
    margin-bottom: 60px;
}


#breadcrumbs {
    height: 30px;
    line-height: 30px;
    margin: 20px 0;

    a, span {
        color: $aideTextColor;
    }

    a {
        &:hover {
            color: $mainColor;
        }

        &.current {
            color: $subTextColor;
        }
    }

    span {
        margin: 0 5px;
    }
}

#preview {
    float: left;
    margin-bottom: 30px;
    position: relative;

    .zhuanxiang {
        position: absolute;
        top: 0;
        z-index: 3;
        left: 150px;
        width: 90px;

        p {
            margin: 0;
            background-color: $linkTextColor;
            color: #FFF;
            font-size: 16px;
            text-align: center;
            height: 51px;
            line-height: 25px;
            padding: 15px 0;
        }

        div {
            height: 0;
            width: 0;
            border-width: 14px 45px;
            border-style: solid;
            border-color: $linkTextColor transparent transparent transparent;
        }
    }

    .switchable {
        position: relative;
        width: 560px;
        height: 430px;

        ul {
            list-style-type: none;
        }

        .content {
            width: 430px;
            height: 430px;
            position: relative;
            overflow: hidden;
            float: right;
            border: 1px solid #E9E9E9;

            li {
                width: 430px;

                img {
                    display: block;
                    width: 428px;
                    height: 428px;
                    outline: none;
                }
            }
        }

        .trigger {
            float: left;
            width: 100px;
            height: 430px;
            overflow: hidden;
            margin: 0;

            a {
                display: block;
                width: 100px;
                height: 100px;
                border: 1px solid #E9E9E9;
                margin-bottom: 10px;

                &.active {
                    width: 100px;
                    height: 100px;
                    border: 2px solid #989898;
                }

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }
}

#meta {
    float: right;
    width: 600px;

    h1 {
        font-size: 22px;
        color: #333;
        margin: 0 0 20px;
    }

    .price {
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 10px;

        .main {
            font-size: 36px;
            color: $mainColor;

            strong {
                font-size: 54px;
                font-weight: normal;
            }
        }

        .mart, .discount {
            margin-left: 40px;
            color: $subTextColor;
        }

        em {
            font-style: normal;
            color: $aideColor;
        }
    }

    .prop {
        margin: 20px 0;

        .row {
            margin: 20px 0;

            h4 {
                clear: both;
                width: 60px;
                margin: 0;
                height: 44px;
                font-size: 14px;
                line-height: 44px;
                float: left;
                font-weight: normal;
            }

            div {
                float: left;
                height: 44px;
            }
        }

        a {
            display: inline-block;
            height: 44px;
            width: 44px;
            border: 1px solid #E9E9E9;
            padding: 1px;
            margin-right: 15px;
            color: $subTextColor;
            line-height: 42px;
            background: url(about:blank) 1px 1px no-repeat;

            &.active {
                border: 2px solid $linkTextColor;
                padding: 0;
                background-position: 0 0;
            }

            &.img-text {
                width: auto;
                padding-left: 42px;
                padding-right: 11px;
            }

            &.active.img-text {
                padding-left: 41px;
                padding-right: 10px;
            }

            &.text {
                width: auto;
                padding: 0 15px;
            }

            &.active.text {
                padding: 0 14px;
            }
        }

        .count {

            span {
                height: 44px;
                width: 44px;
                display: inline-block;
                background: url(../img/plus.png) no-repeat;
                border: 1px solid #E9E9E9;

                &.plus {
                    background-position: -44px 0;
                }

                &.enabled {
                    background-position: 0 -44px;
                }

                &.enabled.plus {
                    background-position: -44px -44px;
                }

                &.enabled:hover {
                    background-position: 0 -88px;
                    border-color: $linkTextColor;
                }

                &.enabled.plus:hover {
                    background-position: -44px -88px;
                }
            }

            input {
                display: inline-block;
                width: 60px;
                height: 44px;
                border-width: 1px 0;
                border-radius: 0;
                vertical-align: top;
                border-color: #E9E9E9;
                text-align: center;
            }
        }
    }

    .submit {
        button {
            height: 54px;
            width: 280px;
            border-radius: 27px;
            font-size: 20px;
            line-height: 24px;
            padding: 15px 0;
            text-align: center;
            border: none;
            background-color: $mainColor;
            color: #FFF;

            &:hover {
                background-color: $mainHoverColor;
            }
        }
    }

    .info {
        margin: 0;
        line-height: 24px;
        height: 24px;
        color: $mainColor;
    }
}

#contrast {
    clear: both;
    border: 1px solid #EBEFF5;
    height: 86px;

    h2 {
        width: 130px;
        float: left;
        font-size: 20px;
        height: 84px;
        line-height: 30px;
        font-weight: normal;
        color: $mainTextColor;
        text-align: center;
        background-color: #F9FAFD;
        margin: 0;
        padding: 27px 0;
        border-right: 1px solid #EBEFF5;
    }

    ul {
        float: left;
        list-style-type: none;
        height: 30px;
        margin: 27px 0;

        li {
            float: left;
            margin-right: 90px;

            padding-left: 150px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            color: $subTextColor;
            background: url(../img/bijia.png) no-repeat;

            &.suning {
                background-position: 0 -30px;
            }

            &.sf {
                background-position: 0 -60px;
                margin-right: 0;
            }
        }
    }
}

#detail {
    margin-top: 20px;
    float: left;
    width: 860px;

    .hd {
        border-bottom: 1px solid #E9E9E9;
        padding: 20px 0;

        h2 {
            font-size: 22px;
            color: #333;
            border-left: 2px solid #765CFF;
            height: 22px;
            line-height: 22px;
            padding-left: 10px;
            font-weight: normal;
            margin: 0;
        }
    }

    .bd {
        margin-top: 30px;

        table, tr, td, th {
            border: 1px solid #E9E9E9;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
        }

        table {
            width: 100%;
            margin-bottom: 60px;
        }

        tr {
            height: 40px;
        }

        th {
            color: $subTextColor;
        }

        td {
            color: $mainTextColor;
        }

        img {
            max-width: 100%;
        }
    }
}

#side {
    width: 300px;
    float: right;
    margin-top: 20px;

    .hd {
        border-bottom: 1px solid #E9E9E9;
        padding: 20px 0;

        h2 {
            font-size: 22px;
            color: #333;
            border-left: 2px solid #765CFF;
            height: 22px;
            line-height: 22px;
            padding-left: 10px;
            font-weight: normal;
            margin: 0;
        }
    }

    .figure {
        list-style-type: none;

        li {
            margin-top: 30px;
            .pic {
                float: left;
                width: 100px;
                height: 100px;
                border: 1px solid #E9E9E9;

                a, img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }

            .cont {
                float: left;
                margin-left: 15px;
                width: 180px;
                height: 100px;

                h4 {
                    margin: 10px 0;
                    line-height: 22px;
                    height: 44px;
                    font-weight: normal;
                    font-size: 15px;

                    a {
                        color: #333;
                    }
                }

                p {
                    height: 30px;
                    margin: 16px 0 0 0;
                }

                strong {
                    font-size: 24px;
                    color: $mainColor;
                    font-weight: normal;
                }

                del {
                    float: right;
                    line-height: 40px;
                    color: $aideTextColor;
                }
            }

            &:hover {
                .pic {
                    border-color: #989898;
                }

                h4 a {
                    color: $mainHoverColor;
                }
            }
        }
    }
}
