<form class="tableform" method="post" action="index.php?app=sms189&ctl=admin_log&act=sms_queue" id='messenger-sms-form' >
<h4><{t}>优惠券配置<{/t}></h4>
<div class='division'>
	<p>邀&nbsp;&nbsp;请&nbsp;&nbsp;码：<{input type="text" name="yaoqingma" vtype="required"}></p>
	<p>优&nbsp;&nbsp;惠&nbsp;&nbsp;券：<{input type="text" name="youhuima" vtype="required"  }></p>
	<p>优惠金额：<{input type="text" name="youhuijine" vtype="required"  }></p>
</div>
<h4><{t}>电信模版配置<{/t}></h4>
<div class='division'>
    <p>模版ID：<{input type="text" name="template_id"  vtype="required" }></p>
</div>

<h4><{t}>手机号<{/t}></h4>
    <div class="division messager-main">
 <{input type="textarea" style=" width:91%;" rows="10" name="mobiles" vtype="required" }>
 <span class='notice-inline'>请将手机号复制粘贴在这里，一行一个手机号。每次最多200个手机号</span>
 </div>

<div class="table-action">
	<{button label=$___b2c="发送"|t:'b2c' type="submit" id="sms-form-submit"}>
</div>
</form>
<script>
   (function(){

    var _form = $('messenger-sms-form');
    var btn =$('sms-form-submit');

    _form.store('target',{
    	onRequest:function() {
    		//btn.set('disabled', true);
    	},
        onComplete:function(){

        },
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);
            if (hash_res_obj.success != undefined && hash_res_obj.success != "")
            {
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}

                if(_dialogIns)
                {
                    _dialogIns.close();
                }
            }
            else
            {
            }
        }
    });

})();

</script>
