<form class="tableform" method="post" action="index.php?app=sms189&ctl=admin_log&act=sms_queue2" id='messenger-sms-form' >
<h4><{t}>电信模版配置<{/t}></h4>
<div class='division'>
    <p>模版ID：<{input type="text" name="template_id"  vtype="required" }></p>
    <p>参数1：<{input type="text" name="params[1]"  }> &nbsp;&nbsp;&nbsp;&nbsp;参数2：<{input type="text" name="params[2]"   }></p>
    <p>参数3：<{input type="text" name="params[3]"  }> &nbsp;&nbsp;&nbsp;&nbsp;参数4：<{input type="text" name="params[4]"  }></p>
    <p>参数5：<{input type="text" name="params[5]"   }> &nbsp;&nbsp;&nbsp;&nbsp;参数6：<{input type="text" name="params[6]"   }></p>
    <p>参数7：<{input type="text" name="params[7]"  }> &nbsp;&nbsp;&nbsp;&nbsp;参数8：<{input type="text" name="params[8]"   }></p>
    <p>参数9：<{input type="text" name="params[9]"   }> &nbsp;&nbsp;&nbsp;&nbsp;参数10：<{input type="text" name="params[10]"   }></p>
    <p>说明：参数1在短信模版中的就是“param1”，参数2是“param2”，其他依次类推</p>
</div>

<h4><{t}>手机号<{/t}></h4>
    <div class="division messager-main">
 <{input type="textarea" style=" width:91%;" rows="10" name="mobiles" vtype="required" }>
 <span class='notice-inline'>请将手机号复制粘贴在这里，一行一个手机号。每次最多200个手机号</span>
 </div>

<div class="table-action">
	<{button label=$___b2c="发送"|t:'b2c' type="submit" id="sms-form-submit"}>
</div>
</form>
<script>
   (function(){

    var _form = $('messenger-sms-form');
    var btn =$('sms-form-submit');

    _form.store('target',{
    	onRequest:function() {
    		//btn.set('disabled', true);
    	},
        onComplete:function(){

        },
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);
            if (hash_res_obj.success != undefined && hash_res_obj.success != "")
            {
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}

                if(_dialogIns)
                {
                    _dialogIns.close();
                }
            }
            else
            {
            }
        }
    });

})();

</script>
