@charset "utf-8";
/* 全局CSS定义 */
body {
    font-family: arial, "Microsoft YaHei";
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    color: #666666;
}

body > div {
    margin-right: auto;
    margin-left: auto;
}

div, form, ul, ol, li, span, p {
    margin: 0;
    padding: 0;
    border: 0;
}

img, a img {
    border: 0;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

table, td, input {
    font-size: 12px;
    padding: 0;
}

input:hover, select:hover, textarea:hover { border-color: #ababab; }
input:focus, select:focus, textarea:focus { border-color: #999999; outline: 0; }

input.btn {
    border: 0px;
}

/* 默认链接颜色 */
a {
    outline-style: none;
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #939393;
    text-decoration: none;
}

/* 颜色 */
.red, .red a {
    color: #ff2c00 !important;
    text-decoration: none;
}

.red a:hover {
    color: #fd5634 !important;
    text-decoration: underline;
}

.pink, .pink a {
    color: #fb8d76 !important;
    text-decoration: none;
}

.pink a:hover {
    color: #f8aa9a !important;
    text-decoration: underline;
}

.blue, .blue a {
    color: #00b7ee !important;
    text-decoration: none;
}

.blue a:hover {
    color: #00b7ee !important;
    text-decoration: underline;
}

.black, .black a {
    color: #000 !important;
    text-decoration: none;
}

.black a:hover {
    color: #000 !important;
    text-decoration: underline;
}

.gray, .gray a {
    color: #cacaca !important;
    text-decoration: none;
}

.gray a:hover {
    color: #cacaca !important;
    text-decoration: underline;
}

.white {
    color: #fff;
}

.orang {
    color: #c17e09;
}

/* 通用属性 */
.left {
    float: left;
}

.right {
    float: right;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.center {
    margin: 0px auto;
}

.clear {
    clear: both;
    font-size: 1px;
    width: 1px;
    height: 0;
    visibility: hidden;
    margin-top: 0px !important;
    *margin-top: -1px;
    line-height: 0;
}

/*ie and firefox1.5 updata */

/* 下划线 */
.unline, .unline a {
    text-decoration: underline;
}

.nounline, .nounline a, .list12 .nounline {
    text-decoration: none;
}

/*文字对齐方式*/
.txtLeft {
    text-align: left;
}

.txtRight {
    text-align: right;
}

.txtCenter {
    text-align: center;
}

/*常用方法*/
.show {
    display: block;
}

.none {
    display: none;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.hand {
    cursor: pointer;
}

.fontArial {
    font-family: 'Arial';
}

.fontSong {
    font-family: '宋体';
}

.fontYahei {
    font-family: '微软雅黑';
}

.fontGeorgia {
    font-family: Georgia;
}

.b {
    font-weight: bold;
}

.overHide {
    overflow: hidden
}

/*全局定义*/
.mainbox {
    width: 980px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mb13 {
    margin-bottom: 13px;
}

.mr15 {
    margin-right: 10px;
}

.mb15 {
    margin-bottom: 10px;
}

.mt15 {
    margin-top: 10px;
}

.ml15 {
    margin-left: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mR40 {
    margin-right: 40px;
}

.mb23 {
    margin-bottom: 23px;
}

.mb27 {
    margin-bottom: 27px;
}

.mt30 {
    margin-top: 30px;
}

.mr36 {
    margin-right: 36px;
}

.m30 {
    margin: 30px;
}

.m0 {
    margin: 0;
}

.p10 {
    padding: 10px;
}

.plr10 {
    padding: 0 10px;
}

.noborder {
    border: none !important;
}

.lh20 {
    line-height: 20px;
}

/* colors */
.red {
    color: red;
}

.orange {
    color: #ff9000;
}

.black {
    color: black;
}

/*----关于宽度-----*/
.mainbox .switchable-content {
    height: 502px;
}

.mainbox .hotSaleL {
    width: 792px;
}

.mainbox .hotSaleL li {
    width: 188px;
}

.mainbox .rightSaleL {
    width: 928px;
}

.mainbox .rightSaleL li {
    width: 188px;
}

.mainbox .leftUnit1 {
    width: 386px;
}

.mainbox .leftUnit1 img {
    width: 386px;
    height: 282px;
}

.mainbox .leftUnit1 .listBox ul.list1 {
    width: 84px;
}

.mainbox .leftUnit1 .listBox ul.list2 {
    width: 119px;
}

.mainbox .leftUnit1 .listBox ul.list3 {
    width: 122px;
}

.mainbox .rightUnit1 {
    width: 584px;
}

.mainbox .screen {
    height: 131px;
}

.mainbox .screen li {
    width: 301px;
}

.mainbox a.turnLeft {
    top: 95px;
}

.mainbox a.turnRight {
    top: 95px;
}

.navUnit .mainbox .navListBox dl {
    width: 128px;
}

.navUnit .mainbox .navListBox dt h4 {
    width: 128px;
}

.navUnit .mainbox dt {
    width: 128px;
}

.navUnit .mainbox dd p {
    width: 64px;
}

.navUnit .mainbox dl.list2 {
    width: 415px;
}

.navUnit .mainbox dl.list2 dd p {
    width: 125px;
}

.mainbox p.brand {
    width: 1186px;
}

.mainbox .hotSaleR {
    width: 188px;
}