@charset "utf-8";

.mainbox {
    width: 980px;
}

.mainbox .hotSaleL {
    width: 792px;
}

.mainbox .hotSaleL li {
    width: 188px;
}

.mainbox .rightSaleL li {
    width: 188px;
}

.hotSaleR {
    width: 188px !important;
    height: 540px;
}

.hotSaleR .hotSaleRbottom {
    height: 278px;
}

.mainbox .leftUnit1 {
    width: 386px;
}

.mainbox .leftUnit1 img {
    width: 386px;
    height: 282px;
}

.leftUnit1 .listBox ul {
    height: 173px;
}

.mainbox .rightUnit1 {
    width: 584px;
}

.mainbox .catProductR {
    width: 762px;
}

.mainbox .catProductR li {
    width: 188px;
}

.mainbox .leftUnit1 .listBox ul.list1 {
    width: 84px;
}

.mainbox .leftUnit1 .listBox ul.list2 {
    width: 119px;
}

.mainbox .leftUnit1 .listBox ul.list3 {
    width: 122px;
}

.indexUnit li {
    margin-bottom: 5px;
}

.mainbox .screen {
    height: 131px;
}

.mainbox .screen li {
    width: 301px;
}

.navBox ul.nav li > a {
    padding: 0px 13px;
}

.navBox ul.nav li.navSpecial {
    width: 69px;
}

.slider-img {
    width: 980px;
}

.slider-img li {
    height: 425px;
    width: 980px;
}

.mainbox .switchable-content {
    height: 425px;
    width: 980px;
}

.gallery-maincontent {
    width: 980px;
}

.inner-wrap {
    width: 980px;
}

.nav-category {
    width: 188px;
}

.gallery_list {
    margin-left: 198px;
}

.designer-goods-list li {
    width: 188px;
    height: 270px;
}

.designer-goods-list li .photo-wrap {
    width: 188px;
    height: 188px;
}

.designer-goods-list li .photo-wrap img {
    width: 188px;
    height: 188px;
}

.designer-goods-list li .photo-wrap .details {
    margin-top: 188px;
}
