<div class="activity-boardlayout">
    <ul class="clearfix" id="waterfall_wrap">
    </ul>
</div>

<script type="text/x-handlebars-template" id="waterfall_tpl">
{{#result}}
<li class="buyer-item">
    <a class="photo-wrap" href="{{url}}" target="_blank" title="{{name}}">
        <img src="{{src}}" width="{{width}}" height="{{height}}" alt="{{name}}" />
    </a>
    <a href="{{url}}" target="_blank" title="{{name}}">
        <div class="buyer-info">
            <h4 class="buyer-name">{{name}}</h4>
            <h5 class="buyer-desc">{{desc}}</h5>
        </div>
    </a>
</li>
{{/result}}
</script>
<script>
 jQuery(function($){
    $(document).ready(function(){
        $('#waterfall_wrap').waterfall({
            itemCls: 'buyer-item',
            colWidth: 180,
            minCol:4,
            gutterWidth: 85,
            gutterHeight: 80,
            isFadeIn: true,
            align: 'center',
            maxPage:<{$params.maxPage}>,
            checkImagesLoaded: true,
            loadingMsg: '<div id="circleG"> <div class="circleG circleG_1"></div> <div class="circleG_2 circleG"></div><div  class="circleG circleG_3"></div></div>',
            callbacks: {
                loadingFinished: function($loading, isBeyondMaxPage) {
                    if ( !isBeyondMaxPage ) {
                        $loading.fadeOut();
                    } else {
                        $loading.hide();
                    }
                },
            },
            path: function(page) {
                return '<{link app=b2c ctl=site_buyer act=json_buyers}>?page=' + page ;
            }
        });
    });
});
</script>
