<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>订单支付</title>
    <xstyle>
    	body {
  		background-color: #2e3132; }
		.scan-ewm {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  margin-top: -175px;
		  margin-left: -125px;
		  width: 250px;
		  height: 350px;
		  border-radius: 5px;
		  text-align: center;
		  background-color: #fff;
		  overflow: hidden; 
		  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		  -webkit-transform: translate3d(0, -2px, 0); }
		  .scan-ewm p {
		    padding-top: 20px;
		    margin-top: 0;
		    margin-bottom: 15px;
		    font-size: 14px;
		    color: #999;}
		  .scan-ewm .ewmimg-div {
		    position: relative;
		    display: inline-block;
		    margin: 0 auto;
		    width: 160px;
		    height: 160px;
		    border: 1px solid #aaaaaa;
		    border-radius: 5px; }
		    .scan-ewm .ewmimg-div img {
		      position: absolute;
		      top: 0;
		      left: 0;
		      right: 0;
		      bottom: 0;
		      margin: auto;
		      width: 150px;
		      height: 150px; }
		  .scan-ewm .long-bot {
		  	position:relative;
		  	margin:20px auto 0;
		    width:210px;
		    height: 40px;
		    background-color: #44bbff;
		    color: #fff;
		    font-size: 16px;
		    line-height: 40px; }
		    .scan-ewm .long-bot:before{
		    	content:"";
		    	position:absolute;
		    	left:0;
		    	top:0;
		    	width:0;
		    	height:0;
		    	border-top: 20px solid transparent;
			    border-left: 20px solid #fff;
			    border-right: 20px solid transparent;
			    border-bottom: 20px solid transparent;
		    }
		    .scan-ewm .long-bot:after{
		    	content:"";
		    	position:absolute;
		    	right:0;
		    	top:0;
		    	width:0;
		    	height:0;
		    	border-top: 20px solid transparent;
			    border-left: 20px solid transparent;
			    border-right: 20px solid #fff;
			    border-bottom: 20px solid transparent;
		    }
		    .scan-ewm h2{
		    	font-weight:normal;
		    	margin:0;
		    	margin-top:5px;
		    	font-size:36px;
		    	color:#44bbff;
		    	font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif,"Microsoft Yahei";
		    }
		    .scan-ewm h2 small{
		    	font-size:18px;
		    }
    </xstyle>
</head>
<body>
<div class="scan-ewm">
    <p>“识别图中二维码进行支付”</p>
    <div class="ewmimg-div">
        <img  src="<{$image_src_url}>" alt=""/>
    </div>
    <h2><small>￥</small><{$cur_money}></h2>
    <div class="long-bot">打开“微信”扫一扫</div>
</div>
<script src="<{$env.cdn_base_url}>/app/wap/statics/js/zepto.js" type="text/javascript"></script>
<script>
	var timer = setInterval(function(){
		$.post('/m/wxin-order_paystatus.html',{order_id:"<{$order_id}>"},function(e){
		 	if(e.success){
		 		location.href = e.redirect;
		 		clearInterval(timer);
		 	}
		},'json')
	},2000)
	
</script>
</body>
</html>