<app version="1.0">
  <name>闪购活动</name>

  <description>乐货闪购活动核心模块</description>

  <author>
      <name>乐货开发团队</name>
      <email>senpan@vip.qq.com</email>
      <url>www.imengfly.com</url>
  </author>

  <version>1.0</version>

  <license>license</license>
  <depends>
    <app>desktop</app>
    <app>content</app>
    <app>ectools</app>
    <app>b2c</app>
  </depends>

</app>
