<div class="designer-box" id="brand_page">
	<div class="main"> 
		<div class="img">
            <img src="<{$brand_data.brand_logo|default:$env.conf.site.default_thumbnail_pic|storager:'m'}>" width="500px" height="230px">
        </div>
        <div class="txt">
            <h2><{$brand_data.brand_name}></h2>
            <div class="detail">
                <p class="item">品牌介绍</p>
                <p class="description"><{$brand_data.brand_desc|htmlspecialchars}></p>
                  <{if $brand_data.brand_url && $brand_data.brand_url !="http://" }>
                <a href="<{$brand_data.brand_url}>" target="_blank" class="more">查看详情</a>
                <{/if}>
            </div>
        </div>
	</div>
 	 	
     <{include file='site/brand/gallery/index.html'}>
</div>
