@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* 全局CSS定义 */
body{font-family: '微软雅黑' '宋体', Arial; margin:0 auto;padding:0; font-size:12px;color:#666666;}
body > div{margin-right:auto;margin-left:auto;}
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li,dl,dt,dd{margin:0;padding:0;list-style:none;}
table,td,input{font-size:12px;padding:0;}
input.btn{ border:0px;}

/* 默认链接颜色 */
a{outline-style:none;color:#333333;text-decoration:none;}
a:hover{color:#0380c3;text-decoration:none;}

/* 颜色 */
.red,.red a{color:#ff2c00!important;text-decoration:none;}
.red a:hover{color:#fd5634!important;text-decoration:underline;}
.pink,.pink a{color:#fb8d76!important;text-decoration:none;}
.pink a:hover{color:#f8aa9a!important;text-decoration:underline;}
.blue,.blue a{color:#00b7ee!important;text-decoration:none;}
.blue a:hover{color:#00b7ee!important;text-decoration:underline;}
.black,.black a{color:#000!important;text-decoration:none;}
.black a:hover{color:#000!important;text-decoration:underline;}
.gray,.gray a{color:#cacaca!important;text-decoration:none;}
.gray a:hover{color:#cacaca!important;text-decoration:underline;}
.white{color:#fff;}
.orang{ color:#c17e09;}


/* 通用属性 */
.left{float:left;}
.right{float:right;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.center{ margin:0px auto;}
.overHide { overflow:hidden;}

.clear{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0;}/*ie and firefox1.5 updata */


/* 下划线 */
.unline,.unline a{text-decoration:underline;}
.nounline,.nounline a,.list12 .nounline{text-decoration:none;}

/*文字对齐方式*/
.txtLeft{text-align:left;}
.txtRight{text-align:right;}
.txtCenter{text-align:center;}


/*常用方法*/
.show{display:block;}
.none{ display:none;}
.hidden{display:none;}
.inline{ display:inline;}
.hand{cursor:pointer;}
.fontArial{font-family:'Arial';}
.fontSong{font-family:'宋体';}
.fontYahei{ font-family:'微软雅黑';}
.fontGeorgia{ font-family:Georgia;}
.b{font-weight:bold;}


/*全局定义*/
.mainbox{ width:980px;}
.mainbox2{ width:980px;height:500px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.mt10{ margin-top:10px;}
.ml10{ margin-left:10px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.mt20{ margin-top:20px;}
.ml20{ margin-left:20px;}
.mt30{ margin-top:30px; }
.m30 { margin: 30px; }
.m0 {margin: 0;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}

.p10 {padding: 10px;}
.plr10 {padding: 0 10px;}
.noborder {border:none !important;}


.lh20 {line-height: 20px;}

/* colors */
.red { color:red; }
.orange { color:#ff9000; }
.deep-blue { color:#0455a6; }
.title-color {color:#999;}
.black {color:black;}

.header{ margin-bottom:3px;}
h1.logoHongXiu{ width:241px; height:78px; }
h1.logoLEHO{ width:241px; height:78px; }
a.ad{ height:56px; padding:11px;}

.navBox{ height:38px; background:#000; line-height:38px; width:100%;}
.navBox li{ margin-right:30px; width:100px; text-align:center;}
.navBox li.home  { width:27px; height:38px;}
.navBox li.home  a{ display: inline-block; width:27px; height:38px; background:url(../images/hxtx/home.png) 0px 6px no-repeat;}
.navBox li a{ color:#a3a3a3; font-size:17px; line-height:38px;}
.navBox li a:hover{ color:#bbb;}

.conBox h2{ height:40px; line-height:40px; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb;  margin-bottom:22px;}
.conBox h2 span{ padding-right:24px; background:url(../images/hxtx/tit.png) right no-repeat; font-size:17px;}

.conBox ul{width:1224px;}
.conBox li{ margin-right:28px; margin-bottom:28px; position:relative;}
.conBox li .ProHover{ position:absolute; top:0px; left:0px; height:0px; width:300px; height:300px; background:url(../images/hxtx/proBg.png) no-repeat; }
.conBox li .ProHover .title span{ font-size:20px; height:43px; line-height:43px; padding-left:10px; color: #FFFFFF; }
.conBox li .ProHover .title a{ margin:9px;}
.conBox li .ProHover .cont a.info{ display:block; width:268px; height:40px; padding:100px 20px 117px 20px; text-align:center; color:#fff; font-size:14px; line-height:20px;}

/*通栏轮播banner */
.main-slider { position: relative; width: 980px; height: 500px; margin-top: 3px; }

.slider-img { width: 980px; height: 100%; background-color: #fff; }

.slider-img li { height: 500px; width: 980px; }

.slider-trigger { position: absolute; left: 50%; bottom: 13px; }

.slider-trigger li { font-size: 0; padding: 12px 0 0 12px; margin: 0 5px; background-color: #000; opacity: .1; filter: alpha(opacity=10); border-radius: 50%; cursor: pointer; float: left; position: relative; right: 50%; }

.slider-trigger li.curr { background-color: #000; opacity: 1; filter: alpha(opacity=100); }

.slider-go-prev, .slider-go-next { cursor: pointer; width: 40px; height: 70px; opacity: .2; filter: alpha(opacity=20); outline: 0 none; position: absolute; top: 215px; transition: all 0.3s ease-out 0s; }

.slider-go-prev { background-position: -40px -347px; left: -40px; }

.slider-go-next { background-position: 0 -347px; right: -40px; }

.slider-go-prev:hover, .slider-go-next:hover { opacity: .5; filter: alpha(opacity=50); }

.slider-go-prev:active, .slider-go-next:active { opacity: .8; filter: alpha(opacity=80); }

.slider-img li a, .mod-category li a, .mod-category li a, .single-product-bd a { display: block; }

.switchable-content img, .switchable-content { width: 100%; height: 100%; overflow: hidden; }