<div class="tableform">
<h3>供应商基础信息</h3>
<div class="division">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<th>供应商名称：</th>
	<td width="250"><{$supplier.sp_name}></td>
	<th>供应商编码：</th>
	<td ><{$supplier.sp_bn}></td>
</tr>
<tr>
	<th >合作模式：</th>
	<td ><{$co_mode_list[$supplier.co_mode]}></td>
	<th >合作状态：</th>
    <td ><{$co_type_list[$supplier.co_type]}></td>
</tr>
<tr>
	<th >支付方式：</th>
	<td ><{$pay_type_list[$supplier.pay_type]}></td>
	<{if $supplier.pay_type !='cash' }>
	<th >账期信息：</th>
    <td ><{$supplier.terminfo}></td>
    <{/if}>
</tr>
<tr>
	 <th >商品类型：</th>
    <td ><{$goods_type_list[$supplier.goods_type]}></td>
    <th >折扣：</th>
    <td ><{$supplier.rebate|default:'暂无信息'}></td>
</tr>
<tr>
	 <th >商务负责人：</th>
    <td ><{$supplier.operater}></td>
</tr>
<tr>
	 <th >备注：</th>
    <td ><{$supplier.remark|default:'暂无备注信息'}></td>
</tr>
</table>
</div>

</div>

<div class="tableform">
<h3>联系人信息</h3>
<div class="division">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<th>联系人：</th>
	<td width="250"><{$supplier.sp_contact}></td>
	<th>联系电话：</th>
	<td ><{$supplier.sp_phone}></td>
</tr>
<tr>
	<th >公司地址：</th>
	<td width="250"><{$supplier.sp_addr}></td>
	<th >联系邮箱：</th>
    <td ><{$supplier.sp_email|default:'暂无信息'}></td>
</tr>
</table>
</div>

</div>

<div class="tableform">
<h3>发票信息</h3>
<div class="division">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<th>发票类型：</th>
	<td  ><{$invoice_type_list[$supplier.invoice_type]}></td>
</tr>
<{if $supplier.invoice_type =='normal'}>
<tr>
	<th >发票抬头：</th>
	<td ><{$supplier.title}></td>
</tr>
<{else}>
<tr>
	<th >公司名称：</th>
	<td ><{$supplier.title}></td>
</tr>
<tr>
	<th >纳税人识别号：</th>
	<td ><{$supplier.identify_num}></td>
</tr>
<tr>
	<th>地址：</th>
	<td  width="250"><{$supplier.reg_addr}></td>
	<th>电话：</th>
	<td  ><{$supplier.invoice_tel}></td>
</tr>
<tr>
	<th >开户行：</th>
	<td width="250"><{$supplier.bank_name}></td>
	<th >账号：</th>
	<td ><{$supplier.bank_account}></td>
</tr>
<{/if}>
</table>
</div>

</div>
</div>
