<form id="indroserForm" action="index.php?app=b2c&ctl=admin_buyer&act=save"  method="POST" >
    <input type="hidden" name="buyer_id" value="<{$buyer_info.buyer_id}>">
    <div class="tableform">
        <div class="division">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th><{t}>会员：<{/t}></th>
                    <td><{input type="object" object=members breakpoint=1 required=1 name="member_id" app=b2c cols="member_id" filter=$member_filter  cols="nickname" value=$buyer_info.member_id textcol="nickname" }><em><font color='red'>*</font></em></td>
                </tr>
                <tr>
                    <th><{t}>买手名称：<{/t}></th>
                    <td><{input type="text" name="buyer_name" style="width:120px" vtype="required" value=$buyer_info.buyer_name}><em><font color='red'>*</font></em></td>
                </tr>
                <tr>
                    <th><{t}>买手头衔：<{/t}></th>
                    <td><{input type="text" name="buyer_title" style="width:120px" vtype="required" value=$buyer_info.buyer_title}><em><font color='red'>*</font></em></td>
                </tr>
                <tr>
                    <th><{t}>买手介绍：<{/t}></th>
                    <td><{input type="textarea" name="buyer_desc" cols="60" rows=5 value=$buyer_info.buyer_desc}></td>
                </tr>
            </table>
        </div>
        <div class="division">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th><{t}>显示顺序：<{/t}></th>
                    <td><{input type="text" name="display_order" style="width:120px" vtype="number" value=$buyer_info.display_order}><em></em></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="table-action">
        <{button type="submit"  label=$___b2c="保存"|t:'b2c'}>
    </div>
</form>