<link href="<{$env.cdn_base_url}>/app/b2c/neigou_statics/css/help.css?v=201712060519" rel="stylesheet">

<div class="page-error" style="display: none;">
  <!--<span class="icon">&#x68;</span>-->
  <div class="page-error-message"><{$msg}></div>
</div>
<!-- <meta http-equiv="refresh" content="3; url=javascript:history.back();" /> -->

<body style="background:#f7faff">
<div class="container">
    <a class="logo-404" href="/"></a>
    <div class="img-404">
        <a href="/" class="btn-a-sm  a-position">去首页救她</a>
    </div>
</div>
</body>