@charset "UTF-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
	margin:0;
	padding:0
}
h1,h2,h3,h4,h5,h6 {
	font-weight:100
}
i {
	font-style:normal;
}
body {
	background-color:#f0f2f5;
	font-size:14px;
	line-height:1.5;
	color:#282a3c;
	font-family:"Microsoft Yahei";
  /**字体优化**/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
img {
	border:0;
	vertical-align:middle;
}
button {
	outline:0;
	cursor:pointer;
}
a {
	text-decoration:none;
	outline:none;
}
a:active {
	outline:0 none;
}
.a-h {
	color:#282a3c;
}
.a-h:hover {
	color:#1560A0;
}
.a-d {
	color:#004076;
}
.a-d:hover {
	color:#1560A0;
}
p {
	word-wrap:break-word
}
li {
	list-style:none;
}
.dis{
	display:none;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clearfix:after {
	clear:both;
	content:'.';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	height:0
}
.clearfix {
	zoom:1
}
.container {
  margin:0 auto;
  width:1100px;
}
.container:after {
  display:table;
  content:"";
  clear:both;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input,button,select,textarea {
	outline:none
}
input:-webkit-autofill {
	-webkit-box-shadow:0 0 0px 1000px white inset;
}
@font-face {
  font-family:"ABC";
  font-style:normal;
  font-weight:400;
  src:url("../../font/font.eot?#iefix") format("embedded-opentype"),url("../../font/font.woff") format("woff"),url("../../font/font.ttf") format("truetype");
}
@font-face {
	font-family: 'iconfont';
    src: url('../font/iconfont.eot'); 
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'), 
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg'); 
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before { content: "\e6b9"; }
.icon-more:before { content: "\e6a7"; }
.icon-back:before { content: "\e697"; }
.icon-search:before { content: "\e6ac"; }
.icon-close:before { content: "\e69a"; }
.icon-selected:before { content: "\e6ad"; }
.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
  display: none;
  overflow-y: auto;
  overflow-x: hidden; }

.layer-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 1050; }

.layer-dialog {
  position: relative;
  margin: 30px auto;
  z-index: 1051;
  background: #fff; }

.layer-dialog .close {
  width: 75px;
  height: 75px;
  right: -75px;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  background: black \9;
  filter: alpha(opacity=50);
  cursor: pointer;
  text-align: center; }

.layer-dialog .close i {
  color: #fff;
  font-size: 50px; }

.layer-dialog .close:hover {
  background: rgba(0, 0, 0, 0.7);
  background: black \9;
  filter: alpha(opacity=70); }

.win-body {
  overflow: hidden;
  padding-right: 17px; }

.os-body {
  overflow: hidden; }

.btn {
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  font-family: "Microsoft Yahei";
  letter-spacing: 2px;
  border: 0;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.btn:hover {
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.btn-n {
  width: 128px;
  height: 37px;
  background: #004076;
  color: #fff;
  font-size: 14px; }

.ctn {
  width: 37px;
  height: 37px;
  background: #004076;
  color: #fff;
  border: 0;
  border-radius: 50%; }

.btn-in {
  height: 52px;
  width: 205px;
  color: #004076;
  border: 1px solid #004076;
  background: #f5f7f8;
  font-size: 18px;
  display: block;
  margin: 0 auto; }
.btn-big{
  height:45px;
  width:350px;
  color:#fff;
  background: #004076;
  font-size:18px;
  line-height:45px;
}
.ctn:hover,
.btn-n:hover,
.btn-in:hover,
.btn-big:hover {
  background: #1560A0;
  color: #fff; }
.face-n {
  background:#004076;
  border:1px solid #004076;
  color:#fff;
}
.face-n:hover {
  border:1px solid #1560A0;
  background:#1560A0;
}
.face-o{
  border:1px solid #004076;
  color:#004076;
  background:#f5f7f8;
  font-size:14px;
  letter-spacing:1px;
  line-height: 38px;
}
.face-o:hover{
  background: #1560A0;
  color:#fff;
}
.btn-desc2 {
  line-height:43px;
  font-size:17px;
  letter-spacing:3px;
}
.btn-desc4{
  line-height:38px;
  font-size:14px;
  letter-spacing:2px;
}
.checkbox {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #cfd1d8;
  position: relative; }
.checkbox i {
  position: absolute;
  top: -6px;
  left: -2px;
  left: -3px\9;
  height: 12px;
  width: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 25px; }

.checkbox.selected {
  background: #004076;
  border: 1px solid #004076; }

.m-b30 {
  margin-bottom:30px;
}
.m-b25 {
  margin-bottom:25px;
}
.m-b20 {
  margin-bottom:20px;
}
.m-b10 {
  margin-bottom:10px;
}
.m-t30 {
  margin-top:30px;
}
.m-t20 {
  margin-top:20px;
}
.m-t15 {
  margin-top:15px;
}
.m-t10 {
  margin-top:10px;
}
.m-r20 {
  margin-right:20px;
}
.m-r115 {
  margin-right:115px;
}
.m-r10 {
  margin-right:10px;
}
.m-tb30 {
  margin-top:30px;
  margin-bottom:30px;
}
.m-tb15 {
  margin-top:15px;
  margin-bottom:15px;
}

.hg40 {
  height: 40px; }
.hg180{
  height:180px!important;
}
.hg225{
  height:225px;
}
.wd120 {
  width: 120px; }
.wd166{
  width:166px;
}
.wd180{
  width:180px;
}
.wd190{
  width:190px;
}
.wd220 {
  width: 220px; }
.wd240 {
  width: 240px; }
.wd280{
  width:280px;
}

.wd153 {
  width: 153px; }

.cbe {
  color: #bec3c7; }

.c6f {
  color: #004076; }

.c28 {
  color: #282a3c; }
.color28{
  color: #282a3c;
}
.c7b {
  color: #7b8185; }

.bgf5 {
  background: #f5f7f8; }

.f16 {
  font-size: 16px; }
.f17{
  font-size:17px;
}
.num {
  font-family: "ABC"; }

.al-l {
  text-align: left; }
.al-c{
  text-align:center;
}
.curp {
  cursor: pointer; }

.forbid {
  -moz-user-select: none; }
.pos-re{
  position:relative;
}
.bgfff {
  background:#fff;
}
.side-list li{
    position:relative;
}
.side-list li a .voucher-num-tip {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    background: #ff536f;
    z-index: 11;
    top: 20px;
    margin-left: 10px;
    text-indent: 2px;
}
.neigou-prompt {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999; }
.neigou-prompt .prompt-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(14, 8, 45, 0.9);
    background: #0e082d \9;
    filter: alpha(opacity=90); }
.neigou-prompt .prompt-cont {
    width: 1170px;
    height: 100%;
    position: relative;
    margin: 0 auto;}
.neigou-prompt .tips-img-cont{
    position:relative;
    top:340px;
    width:657px;
    height:297px;
    margin-left:290px;
    background:url(../../images/prompt/per-vou-main-img2.png) no-repeat;
}
.neigou-prompt.unauth .tips-img-cont{
    top:140px;
}
.neigou-prompt.small .tips-img-cont{
    top:220px;
}
.neigou-prompt .close:hover {
    color: #e40062; }
.neigou-prompt .btn-cont {
    position: relative;
    width: 100%;
    top: 320px;
    text-align: center; }
.neigou-prompt.unauth .btn-cont{
    top:120px;
}
.neigou-prompt.small .btn-cont{
    top:200px;
}
.neigou-prompt .prompt-btn {
    width: 248px;
    height: 61px;
    margin-left:-100px;
    border:0 none;
    background: url(../../images/prompt/btn_know2.png) no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
.neigou-prompt .prompt-btn:hover {
    background: url(../../images/prompt/btn_know_hover2.png) no-repeat; }
.neigou-prompt .main-area{
    width: 288px;
    height: 60px;
    background: #fff;
    text-align: center;
    position: relative;
    top: 665px;
    line-height: 60px;
}
.neigou-prompt.unauth .main-area{
    top:445px;
}
.neigou-prompt.small .main-area{
    top:545px;
}
.neigou-prompt .main-area .vou-num{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    background: #ff536f;
    z-index: 11;
    top: 20px;
    margin-left: 10px;
}