@charset "utf-8";
footer {
	height:275px;
	background:#2e3254;
}
.footer {
	height:275px;
	background:#2e3254;
}
.footer .container {
	padding:0;
}
.footer ul {
	color:#fff;
	margin-top:30px;
	float:left;
}
.footer ul dt {
	padding-bottom:25px;
}
.footer ul a:hover {
	color:#fff;
}
.footer ul dt a {
	color:#907bff;
}
.footer ul dd {
	padding-bottom:15px;
}
.footer ul dd a {
	color:#757bab;
}
.footer ul li {
	margin-right:130px;
	margin-right:110px\9;
	float:left;
}
.footer ul li:last-child {
	margin-right:0;
}
.footer-under {
	display:block;
}
.div-hr {
	border-top:1px solid #55597a;
	width:100%;
}
.footer p {
	text-align:center;
	color:#757bab;
	cursor:default;
}
.footer .p-bot {
	text-align:center;
	color:#757bab;
	cursor:default;
	margin-top:25px;
	font-size:13px;
	letter-spacing:2px;
}
.footer-ul {
	position:relative;
}
.footer-right-info{
	float:left;
	height:115px;
	width:450px;
	position:relative;
}
.footer-right-info .new-contact{
	float:right;
	width:214px;
}
.footer-right-info .new-contact .cont-top{
	height:60px;
	border-bottom:1px solid #393d63;
}
.footer-right-info .new-contact  .cont-wz{
	display:inline-block;
}
.footer-right-info .new-contact  .cont-wz-top{
	color:#907bff;
	font-size:22px;
	font-family:"Arial";
	line-height:30px;
}
.footer-right-info .new-contact  .cont-wz-top.email-addr{
	font-size:18px;
}
.footer-right-info .new-contact  .cont-wz-bot{
	color:#5b63aa;
	font-size:14px;
	text-align:left;
	text-indent:2px;
}
.footer-right-info .new-contact .cont-bg{
	display: inline-block;
	background: url(../../images/footer_contect.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left; 
}
.footer-right-info .new-contact .cont-bg.phone{
	background-position: -10px -0px;
    width: 24px;
    height: 24px;
    position:relative;
    top:-5px;
    margin-right:15px;
}
.footer-right-info .new-contact .cont-bg.email{
	background-position: -10px -34px;
    width: 24px;
    height: 24px;
    position:relative;
    top:-5px;
    margin-right:15px;
}
.footer-right {
	margin:40px 0;
	float:right;
}
.footer-ewm {
	width:116px;
	height:116px;
	background:url(../images/new-ewm.png) no-repeat;
	float:left;
	margin-left:50px;
}