@charset "utf-8";
/**sidebar**/
.sidebar {
  width:230px;
  padding-top:30px;
  padding-bottom:50px;
  display:inline-block;
}
.sidebar .user-name {
  margin-top:5px;
  padding:0 20px;
  text-align:center;
  font-size:18px;
  letter-spacing:2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-degree {
  font-size:14px;
  color:#7b8185;
  text-align:center;
  letter-spacing:1px;
}
.user-pro-ul li a {
  position:relative;
  display:block;
  padding-left:50px;
  height:42px;
  line-height:42px;
  color:#7b8185;
  font-size:14px;
  text-align:left;
  letter-spacing:1px;
    -webkit-transition:color .3s;
  -moz-transition:color .3s;
  -o-transition:color .3s;
  transition:color .3s;
}
.user-pro-ul li a .voucher-num-tip,
.user-pro-ul li a.a-active .voucher-num-tip{
    position: absolute;
    top: 11px;
    margin-left: 10px;
    z-index: 11;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    
    text-indent: 2px;
}
.user-pro-ul li a .voucher-num-tip{
  color: #fff;
    background: #ff536f;
}
.user-pro-ul li a.a-active .voucher-num-tip{
    color: #6E53FF;
    background: #FFF;
}
.user-pro-ul li a:hover {
  color:#6F53FF;
  -moz-transition:color .3s;
  -webkit-transition:color .3s;
  -o-transition:color .3s;
  transition:color .3s;
}
.user-pro-ul li .a-active {
  background-color:#6f53ff;
  color:#fff;
}
.user-pro-ul li .a-active:hover {
  color:#fff;
}