
/**footer begin**/
.footer {
  width:100%;
  min-width:1215px;
  background: #333333;
  line-height: 1; }
.footer .f-container {
  width: 1230px;
  margin: 0 auto; }
.footer ul li {
  margin-left: 70px;
  float: left; }
.footer ul li:first-child {
  margin-left: 0; }
.footer ul dt {
  padding-bottom: 30px; }
.footer ul dt a {
  color: #fff; }
.footer ul dd {
  padding-bottom: 17px; }
.footer ul dd a {
  color: #999999; }
.footer ul a:hover {
  color: #fff; }

.div-hr {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #3c3c3c;
  text-align: center;
  color: #5f5f5f;
  cursor: default;
  font-size: 13px;line-height: 32px;
	padding: 15px 0px;
  letter-spacing: 1px;
  min-width: 1170px }
footer.footer .div-hr{
  position: static;
}
.div-hr a{
  color: #5f5f5f;
}
.footer-right {
  margin: 40px 0;
  float: right; }
.cont-phone{
  padding-top: 16px;
  padding-bottom: 24px;
}
.footer-right-info {
  float: left;
  height: 115px;
  position: relative; }
.footer-right-info .cont-top {
  height: 60px;
  /*border-bottom: 1px solid #393d63; */
}
.footer-right-info .cont-wz {
  display: inline-block; }
.footer-right-info .cont-wz-top {
  color:#004076;
  font-size:25px;
  padding-bottom: 13px;
  font-family:"Arial";
  line-height:30px;
  font-style: oblique;
  letter-spacing: 3px; }
.footer-right-info .cont-wz-top.email-addr {
  font-size: 18px; }
.footer-right-info .cont-wz-bot {
  color:#004076;
  font-size:16px;
  text-align:left;
  font-family:"Arial";
  text-indent:2px;
  font-style: oblique;
}
.footer-right-info .cont-bg {
  display: inline-block;
  /*background: url(../images/footer_contect.png) no-repeat;*/
  overflow: hidden;
  /*text-indent: -9999px;*/
  text-align: left; }
.footer-right-info .cont-bg.phone {
  background-position: -10px -0px;
  width: 34px;
  height: 24px;
  position: relative;
  top: -28px; }
.footer-right-info .cont-bg.email {
  background-position: -10px -34px;
  width: 24px;
  height: 24px;
  position: relative;
  top: -5px;
  margin-right: 15px; }

.footer-ewm {
  position:relative;
  width: 90px;
  height: 90px;
  float: left;
  margin-left: 50px; }
  .footer-ewm.ml20{
  margin-left:20px;
  }
  .footer-ewm p{
    position:absolute;
    left:50%;
    bottom:-25px;
    margin-left:-60px;
    color: #757575;
    font-size: 14px;
    width: 120px;
    text-align: center;
  }
.m-t-40{
  margin-top:40px;
}
.f-l{float:left;}
.f-r{float:right;}
/**footer end**/
/**header begin**/
.life-header .container{
  width:1215px;
}
.life-header {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width:1215px; }
  .life-header a.before-line:before {
    content: "";
    width: 1px;
    height: 12px;
    background: #35333e;
    position: absolute;
    top: 2px;
    left: -10px; }
  .life-header .top {
    width: 100%;
    min-width: 1100px;
    background-color: #282a38;
    border-top: 2px solid #004076;
    /* border-bottom: 1px solid #35333e;  */
  }
    .life-header .top span {
      color: #7a7784;
      line-height: 32px;
      font-size: 12px;
      letter-spacing: 1px; }
    .life-header .top span a {
      color: #7a7784;
    }
    .life-header .top span a:hover {
      color: #fff;
    }
    .life-header .top p {
      float: right;
      line-height: 32px;
      color: #7a7784;
      font-size: 12px;
      letter-spacing: 1px; }
      .life-header .top p a {
        position: relative;
        letter-spacing: 1px;
        color: #7a7784; }
        .life-header .top p a:hover {
          color: #fff; }
          .life-header .top p a:hover .cart_num {
            color: #fff; }
  .life-header .bottom {
    position: relative;
    min-width: 1100px;
    background-color: #2e303f; }
    .life-header .bottom li.account {
      position: relative;
      width: 213px;
      height: 114px; }
      .life-header .bottom li.account:hover .account-information .wrapper {
        display: block;
        background: #22212e; }
        .life-header .bottom li.account:hover .account-information .wrapper .icon-arrow-right-angle {
          font-size: 16px;
          position: relative;
          top: 2px;
          left: 20px; }
      .life-header .bottom li.account .account-logo {
        position: absolute;
        height: 100%;
        z-index: 10;
        left: 105px; }
      .life-header .bottom li.account .account-information {
        position: relative;
        height: 100%;
        top: 0; }
        .life-header .bottom li.account .account-information .wrapper {
          position: absolute;
          overflow: hidden;
          width: 213px;
          max-height: 435px;
          left: 0;
          padding-top: 114px;
          display: none;
          transition: transform 800ms ease 0ms, opacity;
          top: -1px; }
          .life-header .bottom li.account .account-information .wrapper .msg-tip {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            color: #8b8a93;
            border-top: 1px solid #272626; }
            .life-header .bottom li.account .account-information .wrapper .msg-tip .show-msg-link {
              display: block;
              width: 100%;
              height: 100%;
              color: #8b8a93;
              font-size: 14px;
              line-height: 41px; }
          .life-header .bottom li.account .account-information .wrapper .msg-list {
            width: 275px;
            min-width: 275px;
            position: relative; }
            .life-header .bottom li.account .account-information .wrapper .msg-list .msg-line {
              position: relative;
              width: 100%;
              height: 70px;
              border-bottom: 1px solid #2D2E2F;
              padding: 15px;
              box-sizing: border-box; }
              .life-header .bottom li.account .account-information .wrapper .msg-list .msg-line .icon-close {
                position: absolute;
                top: 15px;
                right: 15px;
                color: #8b8a93;
                font-size: 16px;
                cursor: pointer; }
              .life-header .bottom li.account .account-information .wrapper .msg-list .msg-line:hover {
                background: #2e303f; }
              .life-header .bottom li.account .account-information .wrapper .msg-list .msg-line .msg-title {
                font-size: 14px;
                color: #004076; }
              .life-header .bottom li.account .account-information .wrapper .msg-list .msg-line .msg-content {
                font-size: 12px;
                color: #8b8a93; }
                .life-header .bottom li.account .account-information .wrapper .msg-list .msg-line .msg-content .show-detail-link {
                  display: inline;
                  font-size: 13px;
                  line-height: 1;
                  text-decoration: underline;
                  margin-left: 5px; }
          .life-header .bottom li.account .account-information .wrapper .show-all {
            width: 100%;
            height: 40px; }
            .life-header .bottom li.account .account-information .wrapper .show-all > a {
              display: block;
              width: 100%;
              height: 40px;
              line-height: 40px;
              color: #8b8a93;
              font-size: 14px; }
        .life-header .bottom li.account .account-information .mask {
          width: 275px;
          height: 100%;
          position: absolute;
          top: 0;
          left: -31px;
          z-index: 3;
          background: #22212e;
          display: none; }
    .life-header .bottom .container {
      position: relative; }
    .life-header .bottom .feedback {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 20px;
      cursor: pointer; }
      .life-header .bottom .feedback .img {
        margin-bottom: 3px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #004076;
        text-align: center; }
        .life-header .bottom .feedback .img img {
          position: relative;
          top: 11px; }
      .life-header .bottom .feedback p {
        letter-spacing: 1px;
        color: #8b8a93; }
      .life-header .bottom .feedback:hover .img {
        background-color: #004076; }
      .life-header .bottom .feedback:hover p {
        color: #fff; }
    .life-header .bottom ul {
      position: relative;
      margin: 0 auto;
      min-width: 1066px;
      display: table;
      content: "";
      clear: both; }
      .life-header .bottom ul li {
        position: relative;
        float: left;
        width: 213px;
        height: 100%;z-index: 99; }
        .life-header .bottom ul li ul.hot_nav {
          display: none;
          position: absolute;
          left: 0px;
          top: 114px;
          width: 213px;
          max-width: 213px;
          min-width: 213px;
          line-height: 52px;
          border-top: 1px solid #3b3944;
          background: #333544;z-index: 99; }
          .life-header .bottom ul li ul.hot_nav li {
            float: none;
            line-height: 52px;
            height: 52px; }
            .life-header .bottom ul li ul.hot_nav li a {
              display: block;
              height: 52px;
              line-height: 52px;
              font-size: 14px;
              color: #8b8a93; }
              .life-header .bottom ul li ul.hot_nav li a:hover {
                background: #3b3944;
                color: #fff; }
        .life-header .bottom ul li a {
          display: block;
          width: 100%;
          height: 114px;
          font-size: 18px;
          color: #8b8a93;
          letter-spacing: 2px;
          text-align: center;
          line-height: 110px; }
          .life-header .bottom ul li a.active, .life-header .bottom ul li a:hover {
            background-color: #333544;
            color: #fff; }
        .life-header .bottom ul li.mr214 {
          margin-right: 214px; }
    .life-header .bottom .logo {
      position: absolute;
      top: 16px;
      left: 50%;
      margin-left: -42px;
      width: 84px;
      height: 84px;
      background: url(../images/newheader/logo_double.png) no-repeat;
      background: url(../images/newheader/ie8_logo.png) no-repeat\9;
      background-size: 100% 100%;
      z-index: 2; }
      .life-header .bottom .logo a {
        display: block;
        width: 100%;
        height: 100%; }
      .life-header .bottom .logo .tip {
        position: absolute;
        top: 7px;
        right: -5px;
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: #ff0000;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 20px; }
        .life-header .bottom .logo .tip.hide {
          display: none; }
    .life-header .bottom .true-logo {
      position: absolute;
      top: 16px;
      left: 50%;
      margin-left: -42px;
      width: 84px;
      height: 84px;
      z-index: 1;
      border-radius: 50%;
      overflow: hidden; }
.life-header .cart-div{
  position:relative;
  height:0;
}
.life-header .cart-div .cart-area{
  position:absolute;
  top:-90px;
  right:0;
  width:75px;
  height:90px;
}
.life-header .cart-div .cart-cont .cart-bar{
  position:absolute;
  top:90px;
  right:0;
  padding-bottom:20px;
  width:400px;
  min-height:140px;
  background-color:#fff;
  border:1px solid #b7b7b7;
}
.life-header .cart-div .cart-cont .cart-bar ul{
  margin:0 20px;
}
.life-header .cart-div .cart-cont .cart-bar ul h4{
  height:54px;
  line-height:54px;
  font-size:16px;
  border-bottom:1px solid #f4f4f4;
}
.life-header .cart-div .cart-cont .cart-bar ul li{
  padding:18px 0;
  height:95px;
  border-bottom:1px solid #f4f4f4;
}
.life-header .cart-div .cart-cont .cart-bar ul li:after{
  display:table;
  content:"";
  clear:both;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-img{
  float:left;
  margin:5px 10px 0 0;
  width:55px;
  height:55px;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-info{
  float:left;
  width:180px;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-info .cart-name{
  height:40px;
  overflow:hidden;
  font-size:14px;
  line-height:20px;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-info .cart-style{
  font-size:13px;
  line-height:25px;
  height:25px;
  overflow:hidden;
  color:#757575;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-price{
  float:right;
  width:110px;
  text-align:right;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-price p{
  line-height:1;
  font-family:"ABC","Microsoft Yahei";
  font-size:18px;
  color:#004076;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-price span{
  display:block;
  color:#757575;
  font-family:"ABC","Microsoft Yahei";
  font-size:16px;
}
.life-header .cart-div .cart-cont .cart-bar ul li .cart-price a{
  color:#004076;
} 
.life-header .cart-div .cart-cont .cart-bar ul li .cart-price a:hover{
  color:#1560A0;
}
.life-header .cart-div .cart-cont {
  position: absolute;
  top: 0;
  right:0;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #393b4a;
  color: #6a6975; }
  .life-header .cart-div .cart-cont .hide {
    display: none; }
  .life-header .cart-div .cart-cont > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
    .life-header .cart-div .cart-cont > a .icon {
      font-size: 40px;
      color: #686773;
      position: relative;
      display:inline-block;
      top: 12px;
      left: 8px; }
    .life-header .cart-div .cart-cont > a .bubble {
      position: absolute;
      padding: 0px 5px;
      border-radius: 20px;
      background: #ff0000;
      height: 20px;
      right: -5px;
      top: -5px;
      color: #fff;
      min-width: 10px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      text-align: center;
      font-family: Arial; }
  .life-header .cart-div .cart-area:hover .cart-cont{
    background: #454758; }
    .life-header .cart-div .cart-area:hover .cart-cont .cart-bar{
      display:block;
    }
    .life-header .cart-div .cart-area:hover .cart-cont > a .icon {
      color: #fff; }
      .life-header .cart-div .cart-null{
        width: 240px;
        height: 60px;
        height: 72px\9;
        margin: 40px auto 0;
        background: url(../images/cart-empty.png) no-repeat;
        background-size: 30% 100%;
        background: url(../images/ie8cart-empty.png) no-repeat\9;
        padding: 5px 0 0 100px;
        color: #939ab1;
        font-size: 14px;
        line-height: 25px;
     }
/**header end**/
/**sidebar**/
.sidebar {
  width:230px;
  padding-top:30px;
  padding-bottom:50px;
  display:inline-block;
}
.sidebar .user-name {
  margin-top:10px;
  padding:0 20px;
  text-align:center;
  font-size:18px;
  letter-spacing:2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-degree {
  margin-top:5px;
  font-size:14px;
  color:#7b8185;
  text-align:center;
  letter-spacing:1px;
}
.user-pro-ul li a {
  position:relative;
  display:block;
  padding-left:50px;
  height:42px;
  line-height:42px;
  color:#7b8185;
  font-size:14px;
  text-align:left;
  letter-spacing:1px;
    -webkit-transition:color .3s;
  -moz-transition:color .3s;
  -o-transition:color .3s;
  transition:color .3s;
}
.user-pro-ul li a .voucher-num-tip,
.user-pro-ul li a.a-active .voucher-num-tip{
    position: absolute;
    top: 11px;
    margin-left: 10px;
    z-index: 11;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    
    text-indent: 2px;
}
.user-pro-ul li a .voucher-num-tip{
  color: #fff;
    background: #ff536f;
}
.user-pro-ul li a.a-active .voucher-num-tip{
    color: #004076;
    background: #FFF;
}
.user-pro-ul li a:hover {
  color:#004076;
  -moz-transition:color .3s;
  -webkit-transition:color .3s;
  -o-transition:color .3s;
  transition:color .3s;
}
.user-pro-ul li .a-active {
  background-color:#004076;
  color:#fff;
}
.user-pro-ul li .a-active:hover {
  color:#fff;
}
.m-b20{
  margin-bottom:20px;
}
.birthday-header{
    position:relative;
    text-align:center;
}
.birthday-header .birthday-cap{
  position: absolute;
    top: -20px;
    left: 50%;
    margin-left: 20px;
    z-index: 1;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../../font/icomoon.eot?tkjccw');
    src:    url('../../font/icomoon.eot?tkjccw#iefix') format('embedded-opentype'),
        url('../../font/icomoon.ttf?tkjccw') format('truetype'),
        url('../../font/icomoon.woff?tkjccw') format('woff'),
        url('../../font/icomoon.svg?tkjccw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.sticon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cart:before {
    content: "\e92e";
}
.col {
  background: #f0f2f5;
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  min-height: 659px;
  width:869px; }

.col:after {
  display: table;
  content: '';
  clear: both; }

.h-tit {
  font-size: 24px;
  letter-spacing: 2px; }

.h-sm {
  font-size: 16px;
  color: #99a0a5; }
.mage-table{
  min-height:400px;
  background-color:#fff;
}
.mage-table .checkbox,
.mage-table .all-checkbox {
  top: 2px;
  margin-right: 11px; }

.mage-head {
  height: 67px;
  border-bottom: 1px solid #eeeeee;
  display: table;
  letter-spacing: 2px;
  width: 100%;
  font-size: 16px; }

.mage-body {
  position:relative;
  height: 67px;
  display: table;
  letter-spacing: 1px;
  font-size: 14px; }
.mage-body:after{
    content: "";
    width: 810px;
    height: 1px;
    border-top: 1px solid #eeeeee;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 20px;
}
.mage-foot {
  height: 67px;
  border-bottom: 1px solid #e7e7e7;
  letter-spacing: 1px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 45px; }

.mage-foot li {
  line-height: 67px; }

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.page-out {
  text-align: center; }

.page {
  height: 50px;
  display: inline-block; }

.page li {
  float: left;
  font-family:"ABC","Microsoft Yahei";
  font-size: 14px;
  line-height: 50px;
  width: 25px;
  text-align: center; }

.page li.in {
  font-size: 20px;
  color: #004076;
  line-height: 48px; }

.page .chevron {
  position: relative;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #e7e7e7; }

.page .chevron i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 28px;
  color: #868686; }


.d-div {
  text-align: center; }

.d-head {
  height: 110px;
  background: #004076;
  width: 100%;
  text-align: center; }

.d-avatar {
  display: inline-block;
  margin-top: -70px;
  width: 140px;
  height: 140px;
  border: 5px solid #f1f2f4;
  border-radius: 50%;
  background: #fff; }

.d-info {
  text-align: center;
  margin-bottom: 15px; }

.d-info h2 {
  margin: 10px 0;
  letter-spacing: 2px;
  font-size: 26px; }

.d-info h3 {
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 2px; }

.d-info p {
  margin: 5px 0;
  letter-spacing: 1px; }

.d-tab {
  height: 25px;
  width: 90px;
  display: inline-block;
  background: #004076;
  border-radius: 50px;
  text-align: center;
  font-family: "Microsoft Yahei";
  letter-spacing: 1px;
  color: #fff;
  font-size: 13px;
  line-height: 26px; }

.d-add {
  width: 25px;
  height: 25px;
  padding-left: 2px;
  display: inline-block;
  border: 1px solid #004076;
  border-radius: 50%;
  line-height: 23px;
  color: #004076; }

.d-add:hover {
  background: #1560A0;
  color: #fff;
  cursor: pointer; }
.md-tit {
  height: 20px;
  line-height: 18px;
  font-size: 20px;
  letter-spacing: 2px;
}
.welfare-wl{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #f5f7f8;
  padding: 20px;
  line-height: 25px;
  font-size: 13px;
  border-bottom: 1px solid #e7e7e7;
  color: #666;
}
.od-null {
  position:absolute;
  top:55px;
  left:140px;
  padding:0 0 0 130px;
  height:128px;
  background:url(../../normal/site/images/voucher-null.png) no-repeat;
  color:#939ab1;
  font-size:18px;
  letter-spacing:3px;
  text-align:center;
}
/**�ҵĸ��� ͷ����Ϣ**/
.ng-score-cont{
  margin-bottom:20px;
}
.ng-score-cont .ng-score-info{
    position:relative;
    padding-top:15px;
    padding-bottom:10px;
    width:100%;
    text-align: center;
    background:#004076;
    color:#ffffff;
}
.ng-score-cont .ng-score-info .recharge-btn{
    position: absolute;
    top: 50%;
    right: 34px;
    margin-top:-17px;
    width:128px;
    height:34px;
    font-size:14px;
    color: #fff;
    border:1px solid #fff;
    background:transparent;
    border-radius:35px;
    font-family:"Microsoft Yahei";
    line-height:32px;
}
.ng-score-cont .ng-score-info .recharge-btn:hover{
    color: #1560A0;
    border:1px solid #fff;
    background:#fff;
}
.ng-score-cont .ng-score-info .ng-score-desc{
    height:25px;
}
.ng-score-cont .ng-score-info .desc{
    color:#fff;
    opacity:0.5;
    letter-spacing:2px;
    text-align:center;
    line-height:24px;
}
.ng-score-cont .ng-score-info .ng-score-desc span{
    display: inline-block;
    font-size:16px;
    letter-spacing:3px;
    vertical-align:top;
    text-indent:28px;
}
.ng-score-cont .ng-score-info .ng-score-desc i{
    position: relative;
    top: -1px;
    margin-left:3px;
    font-size: 28px;
    cursor: pointer;
    color: #004076;
    vertical-align:middle;
}
.ng-score-cont .ng-score-info .ng-score-desc i:hover{
    color:#fff;
}
.ng-score-cont .ng-score-info .ng-score-number{
    margin-bottom:10px;
    font-size:76px;
    line-height:1;
    font-family: "ABC","Microsoft Yahei";
}
.ng-score-Q-A-cont{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    z-index:999;
}
.ng-score-Q-A-cont .ng-score-layer{
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    background:#000\9;
    filter:alpha(Opacity=80)\9;
}
.ng-score-Q-A-cont .ng-score-Q-A{
    position: absolute;
    width:590px;
    height:200px;
    top:50%;
    left:50%;
    margin-left:-295px;
    margin-top:-100px;
    color:#333;
    background:#fff;
}
.ng-score-Q-A-cont .s-Q-A-header{
    position: relative;
    width: 100%;
    height:55px;
    border-bottom:1px solid #f2f2f2;
}
.ng-score-Q-A-cont .s-Q-A-header .s_close{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}
.ng-score-Q-A-cont .s-Q-A-header .s_close:hover{
    color:#1560A0;
}
.ng-score-Q-A-cont .s-Q-A-header .s-Q-A-title{
    font-size:20px;
    text-indent: 15px;
    height:55px;
    line-height: 55px;
}
.ng-score-Q-A-cont .ng-s-Q-A-main{
    font-size:16px;
    color:#333;
    line-height:26px;
    text-align:center;
    padding:35px 45px 55px 45px;
}
/**�ҵĸ�����ҳ**/
@font-face {
    font-family: 'icomoon';
    src:    url('../../font/icomoon.eot?tkjccw');
    src:    url('../../font/icomoon.eot?tkjccw#iefix') format('embedded-opentype'),
        url('../../font/icomoon.ttf?tkjccw') format('truetype'),
        url('../../font/icomoon.woff?tkjccw') format('woff'),
        url('../../font/icomoon.svg?tkjccw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.normal-icons {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.normal-icons.icon-pre:before{
  content: "\e936";
}
.normal-icons.icon-next:before{
  content: "\e935";
}
.normal-icons.icon-user:before{
  content: "\e901";
}
.page-out {
  margin-top:20px;
  padding-bottom:20px;
  text-align: center;
}
.page-out span.prev,
.page-out span.next{
  display: inline-block;
  cursor:default;
  padding:0 10px;
  height:50px;
  text-align:center;
  font-size:16px;
  color:#282a3c;
  vertical-align: middle;
}
.page-out span.prev span.chevron,
.page-out span.next span.chevron{
  background:#fff;
}
.page-out span.prev span.chevron i,
.page-out span.next span.chevron i{
  color:#dfdfdf;
}
.page-out a.prev,
.page-out a.next{
  display:inline-block;
  vertical-align: middle;
  height:50px;
}
.page-out a.prev:hover span.chevron,
.page-out a.next:hover span.chevron{
  border:1px solid #004076;
}
.page-out a.prev:hover span.chevron i,
.page-out a.next:hover span.chevron i{
  color:#1560A0;
}
.page-out a{
  padding:0 10px;
  text-align:center;
  font-size:16px;
  color:#282a3c;
}
.page-out a:hover{
  color:#1560A0;
}
.page-out span.chevron{
  position: relative;
  height: 50px;
  width: 50px;
  display:inline-block;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  line-height:44px;
  background-color:#fff;
}
.page-out span.chevron i {
    font-size: 22px;
    color: #868686;
    font-weight: normal; }
.page-out span.chevron i.icon-back{
  position: relative;
  top: 2px;
  left:-2px;
}
.page-out span.chevron i.icon-more{
  position: relative;
  top: 2px;
  left:2px;
}
.page-out span.current{
  color:#004076;
  font-size:20px;
  padding:0 10px;
}
.loading_cart{
  background: url("../../normal/site/images/cart_loding2.gif") no-repeat 80px center #fff;
  height: 140px;
  line-height: 140px;
  vertical-align: middle;
  padding-left: 160px;
}